<ion-header>
    <ion-toolbar>
        <!-- Button show filter -->
        <ion-button slot="start" fill="clear" (click)="showPopover()" class="btn-width">
            <ion-icon size="large" class="btn-color" name="filter"></ion-icon>
        </ion-button>
        <!-- Title -->
        <ion-title class="align-center">{{ 'COMMON.CHARTS' | translate }}</ion-title>
        <!-- Button Close -->
        <ion-button fill="clear" (click)="closeModal()" class="btn-width" slot="end">
        <ion-icon size="large" class="btn-color" name="close-circle-outline"></ion-icon>
        </ion-button>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list-header>
        <ion-icon size="large" name="bicycle"></ion-icon>
        <h3 class="header-list">{{ 'COMMON.EXPENSES' | translate }} {{ motoModel }}</h3>
    </ion-list-header>
    <ngx-charts-bar-vertical
        [view]="dashboardMotoExpenses.view"
        [scheme]="dashboardMotoExpenses.colorScheme"
        [results]="dashboardMotoExpenses.data"
        [gradient]="dashboardMotoExpenses.gradient"
        [xAxis]="dashboardMotoExpenses.showXAxis"
        [yAxis]="dashboardMotoExpenses.showYAxis"
        [legend]="dashboardMotoExpenses.showLegend"
        [legendTitle]="dashboardMotoExpenses.legendTitle"
        [legendPosition]="dashboardMotoExpenses.legendPosition"
        [showXAxisLabel]="dashboardMotoExpenses.showXAxisLabel"
        [showYAxisLabel]="dashboardMotoExpenses.showYAxisLabel"
        [showDataLabel]="dashboardMotoExpenses.showDataLabel"
        [xAxisLabel]="dashboardMotoExpenses.xAxisLabel"
        [yAxisLabel]="dashboardMotoExpenses.yAxisLabel">
    </ngx-charts-bar-vertical>
    <ion-list-header>
        <ion-icon size="large" name="construct"></ion-icon>
        <h3 class="header-list">{{ 'PAGE_MOTO.ExpensesPerOperationType' | translate }}</h3>
    </ion-list-header>
    <ngx-charts-pie-chart
        [view]="dashboardOpTypeExpenses.view"
        [scheme]="dashboardOpTypeExpenses.colorScheme"
        [results]="dashboardOpTypeExpenses.data"
        [gradient]="dashboardOpTypeExpenses.gradient"
        [legend]="dashboardOpTypeExpenses.showLegend"
        [legendTitle]="dashboardOpTypeExpenses.legendTitle"
        [legendPosition]="dashboardOpTypeExpenses.legendPosition"
        [labels]="dashboardOpTypeExpenses.showLabels"
        [doughnut]="dashboardOpTypeExpenses.isDoughnut">
    </ngx-charts-pie-chart>
</ion-content>