<!-- HEADER MODAL -->
<app-header [input]="headerInput"></app-header>

<ion-content>
  <form #formAddVehicle name="formAddVehicle" (ngSubmit)="saveData(formAddVehicle)" novalidate>
    <ion-list lines="full" class="margin-bottom55">
      <!-- Input control -->
      <ion-item>
        <ion-label position="stacked">
          <ion-text>{{ 'COMMON.BRAND' | translate }}</ion-text>
          <ion-text color="danger">*</ion-text>
          @if (this.submited && !isValidBrand(formAddVehicle)) {
            <ion-icon class="padding-left20" color="danger" size="small" name="alert"></ion-icon>
          }
          @if (this.submited && !isValidBrand(formAddVehicle)) {
            <ion-text color="danger">{{ 'PAGE_VEHICLE.AddBrand' | translate }}</ion-text>
          }
        </ion-label>
        <ion-input #vehicleBrand name="vehicleBrand" placeholder="Yamaha" autocapitalize required type="text" [(ngModel)]="vehicle.brand"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">
          <ion-text>{{ 'COMMON.MODEL' | translate }}</ion-text>
          <ion-text color="danger">*</ion-text>
          @if (this.submited && !isValidModel(formAddVehicle)) {
            <ion-icon class="padding-left20" color="danger" size="small" name="alert"></ion-icon>
          }
          @if (this.submited && !isValidModel(formAddVehicle)) {
            <ion-text color="danger">{{ 'PAGE_VEHICLE.AddModel' | translate }}</ion-text>
          }
        </ion-label>
        <ion-input #vehicleModel name="vehicleModel" placeholder="R6" required autocapitalize type="text" [(ngModel)]="vehicle.model"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">
          <ion-text>{{ 'COMMON.YEAR' | translate }}</ion-text>
          <ion-text color="danger">*</ion-text>
          @if (this.submited && (!isValidYear(formAddVehicle) || !isValidYearBetween(formAddVehicle))) {
            <ion-icon class="padding-left20" color="danger" size="small" name="alert"></ion-icon>
          }
          @if (this.submited && !isValidYear(formAddVehicle)) {
            <ion-text color="danger">{{ 'PAGE_VEHICLE.AddYear' | translate }}</ion-text>
          }
          @if (this.submited && isValidYear(formAddVehicle) && !isValidYearBetween(formAddVehicle)) {
            <ion-text color="danger">{{ translateYearBetween }}</ion-text>
          }
        </ion-label>
        <ion-input #vehicleYear name="vehicleYear" required placeholder="2005" type="number" [(ngModel)]="vehicle.year"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">
          <ion-text>{{ measure.valueLarge }}</ion-text>
          <ion-text color="danger">*</ion-text>
          @if (this.submited && (!isValidKm(formAddVehicle) || !isValidKmMin(formAddVehicle))) {
            <ion-icon class="padding-left20" color="danger" size="small" name="alert"></ion-icon>
          }
          @if (this.submited && !isValidKm(formAddVehicle)) {
            <ion-text color="danger">{{ 'PAGE_VEHICLE.AddKm' | translate }}</ion-text>
          }
          @if (this.submited && isValidKm(formAddVehicle) && !isValidKmMin(formAddVehicle)) {
            <ion-text color="danger">{{ 'PAGE_VEHICLE.AddKmMinCero' | translate }}</ion-text>
          }
        </ion-label>
        <ion-input #vehicleKm name="vehicleKm" required placeholder="50000 {{measure.value}}" type="number" min="0" [(ngModel)]="vehicle.km"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">
          <ion-text>{{ 'COMMON.DATE_PURCHASE' | translate }}</ion-text>
          <ion-text color="danger">*</ion-text>
          @if (this.submited && !isValidDate(formAddVehicle)) {
            <ion-icon class="padding-left20" color="danger" size="small" name="alert"></ion-icon>
          }
          @if (this.submited && !isValidDate(formAddVehicle)) {
            <ion-text color="danger">{{ 'PAGE_OPERATION.AddDate' | translate }}</ion-text>
          }
        </ion-label>
        <ion-datetime-button datetime="vehicleDate" required></ion-datetime-button>
        <ion-popover [keepContentsMounted]="true" aria-hidden="false">
          <ng-template>
            <ion-datetime id="vehicleDate" #vehicleDate name="vehicleDate"
            [(ngModel)]="vehicle.datePurchase" presentation="date"></ion-datetime>
          </ng-template>
        </ion-popover>
      </ion-item>
      <ion-item>
        <ion-select #vehicleConfiguration name="vehicleConfiguration" [(ngModel)]="vehicle.configuration" label-placement="stacked" placeholder="Select a configuration">
          <div slot="label" class="label-required">
            <ion-text>{{ 'COMMON.CONFIGURATION' | translate }}</ion-text>
            <ion-text color="danger">*</ion-text>
            @if (this.submited && !isValidConfiguration(formAddVehicle)) {
              <ion-icon class="padding-left20" color="danger" size="small" name="alert"></ion-icon>
            }
            @if (this.submited && !isValidConfiguration(formAddVehicle)) {
              <ion-text class="label-required-text" color="danger">{{ 'PAGE_VEHICLE.AddConfiguration' | translate }}</ion-text>
            }
          </div>
          @for (c of configurations; track c) {
            <ion-select-option [value]="c">{{c.name}}</ion-select-option>
          }
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-select #vehicleType name="vehicleType" [(ngModel)]="vehicle.vehicleType" label-placement="stacked" placeholder="Select a type">
          <div slot="label" class="label-required">
            <ion-text>{{ 'COMMON.TYPE' | translate }}</ion-text>
            <ion-text color="danger">*</ion-text>
            @if (this.submited && !isValidVehicleType(formAddVehicle)) {
              <ion-icon class="padding-left20" color="danger" size="small" name="alert"></ion-icon>
            }
            @if (this.submited && !isValidVehicleType(formAddVehicle)) {
              <ion-text color="danger">{{ 'PAGE_VEHICLE.AddVehicleType' | translate }}</ion-text>
            }
          </div>
          @for (vt of vehicleTypes; track vt) {
            <ion-select-option [value]="vt">{{ vt.description }}</ion-select-option>
          }
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">
          <ion-text>{{ 'COMMON.KM_PER_MONTH' | translate }}</ion-text>
        </ion-label>
        <ion-input #vehicleKmsPerMonth name="vehicleKmsPerMonth" placeholder="150 {{measure.value}}" type="number" min="0" [(ngModel)]="vehicle.kmsPerMonth"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon class="ion-icon-margin" slot="start" size="small" name="stats-chart"></ion-icon>
        <ion-label>
          <h2>{{ 'COMMON.NOTIFY_MAINTENANCE' | translate }}</h2>
        </ion-label>
        <ion-checkbox #vehicleActive name="vehicleActive" color="primary" [(ngModel)]="vehicle.active" slot="end"></ion-checkbox>
      </ion-item>
    </ion-list>
    <!-- Button Save -->
    <ion-button class="button-circle" type="submit">
      <ion-icon name="save"></ion-icon>
    </ion-button>
  </form>
</ion-content>