# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
$RECYCLE.BIN/

*.log
log.txt
npm-debug.log*
package-lock.json

.vscode/
/app/.idea
/app/.ionic
/app/.sass-cache
/app/.sourcemaps
/app/.versions
/app/.vscode
/app/.sonarqube
/app/coverage
/app/dist
/app/node_modules
/app/platforms
/app/plugins
/app/www
/app/build.json
/app/build-demo.json

/Utils/Versions/Android
/Utils/Versions/Windows
/Utils/*.txt

/DB/backup

app/.gradle/
app/gradle/
app/gradlew
app/gradlew.bat
app/.scannerwork
app/src/app/.scannerwork
app/src/assets/data
app/.angular/
app/.firebase/
app/config.xml
Docker/docker-files/Dockerfile-windows
Docker/docker-files/Dockerfile-windows2
Docker/docker-files/Dockerfile-windows3
Docker/docker-files/Install.cmd
Docker/docker-files/jenkins/
Docker/docker-files/nginx/
