<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-title class="align-center">{{ 'PAGE_HOME.HOME' | translate }}</ion-title>
    </ion-title>
    <ion-button slot="end" fill="clear" (click)="showPopover()">
      <ion-icon size="large" name="filter"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list-header>
    <ion-icon size="large" name="bicycle"></ion-icon>
    <h3 class="header-list">{{ 'PAGE_HOME.EXPENSES_PER_MOTO' | translate }}</h3>
  </ion-list-header>
  <ngx-charts-bar-vertical *ngIf="isChartMoto()"
    [view]="dashboardMotoExpenses.view"
    [scheme]="dashboardMotoExpenses.colorScheme"
    [results]="dashboardMotoExpenses.data"
    [gradient]="dashboardMotoExpenses.gradient"
    [xAxis]="dashboardMotoExpenses.showXAxis"
    [yAxis]="dashboardMotoExpenses.showYAxis"
    [legend]="dashboardMotoExpenses.showLegend"
    [showXAxisLabel]="dashboardMotoExpenses.showXAxisLabel"
    [showYAxisLabel]="dashboardMotoExpenses.showYAxisLabel"
    [xAxisLabel]="dashboardMotoExpenses.xAxisLabel"
    [yAxisLabel]="dashboardMotoExpenses.yAxisLabel">
  </ngx-charts-bar-vertical>
  <ngx-charts-bar-vertical-2d *ngIf="isChartOperationType()"
    [view]="dashboardMotoExpenses.view"
    [scheme]="dashboardMotoExpenses.colorScheme"
    [results]="dashboardMotoExpenses.data"
    [gradient]="dashboardMotoExpenses.gradient"
    [xAxis]="dashboardMotoExpenses.showXAxis"
    [yAxis]="dashboardMotoExpenses.showYAxis"
    [legend]="dashboardMotoExpenses.showLegend"
    [showXAxisLabel]="dashboardMotoExpenses.showXAxisLabel"
    [showYAxisLabel]="dashboardMotoExpenses.showYAxisLabel"
    [xAxisLabel]="dashboardMotoExpenses.xAxisLabel"
    [yAxisLabel]="dashboardMotoExpenses.yAxisLabel"
    [legendTitle]="dashboardMotoExpenses.legendTitle"
    [barPadding]="dashboardMotoExpenses.barPadding"
    [groupPadding]="dashboardMotoExpenses.groupPadding">
  </ngx-charts-bar-vertical-2d>
  <ion-list-header>
    <ion-icon size="large" name="construct"></ion-icon>
    <h3 class="header-list">{{ 'PAGE_HOME.EXPENSES_PER_OP_TYPE' | translate }}</h3>
  </ion-list-header>
  <ngx-charts-pie-chart
    [view]="dashboardOpTypeExpenses.view"
    [scheme]="dashboardOpTypeExpenses.colorScheme"
    [results]="dashboardOpTypeExpenses.data"
    [gradient]="dashboardOpTypeExpenses.gradient"
    [legend]="dashboardOpTypeExpenses.showLegend"
    [legendTitle]="dashboardOpTypeExpenses.legendTitle"
    [legendPosition]="dashboardOpTypeExpenses.legendPosition"
    [labels]="dashboardOpTypeExpenses.showLabels"
    [doughnut]="dashboardOpTypeExpenses.isDoughnut">
  </ngx-charts-pie-chart>
</ion-content>
