.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

.font-size16 {
  font-size: 16px;
}

.margin-botton0 {
  margin-bottom: 0px;
}

.margin0 {
  margin: 0px;
}

.main-avatar {
  padding: 20px 0px 0px 14px;
}

.main-icon {
  padding: 15px 10px 0px 10px;
}

.second-avatar {
  padding: 10px 0px 0px 15px;
}

.second-icon-avatar {
  width: 25px;
}

.second-item-div {
  flex: 1 1 auto;
  padding: 0px 0px 0px 10px;
}

.second-div {
  width: 100%;
  padding: 5px 0px 4px 0px;
}

.icon-row2 {
  padding: 3px 2px 8px 5px;
}

.icon-row3 {
  padding: 2px 1px 5px 4px;
}

.h-row2 {
  //font-size: 16px;
  margin: 2px 2px 1px 1px;
}

.h-row3 {
  font-size: 15px;
  margin: 7px 8px 0px 1px;
}

.p-row2 {
  margin: 5px 8px 0px 1px;
  color: var(--ion-color-step-600,#666);
  font-size: 14px;
}