.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

.main-div {
  width: 100%;
  padding: 20px 0px 0px 0px;
}

.progress-bar {
  padding: 0px 16px 0px 16px;
  // max-width: 80%;
  // min-width: 70%;
  // flex: 1 1 auto;
  // padding-right: 10px;
}

.avatar-row {
  margin-top: 14px;
  margin-bottom: 2px;
}

.table-row {
  display: flex;
  flex-direction: row;
}

.p-row {
  margin: 4px 8px 8px 2px;
  color: var(--ion-color-step-600,#666);
}

.icon-row {
  margin: 4px 2px 8px 3px;
}
