<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" style="max-width: none;">
      <ion-icon name="stats-chart"></ion-icon>
      <ion-label>{{ 'PAGE_HOME.HOME' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="vehicle" style="max-width: none;">
      <ion-icon name="home"></ion-icon>
      <ion-label>{{ 'COMMON.GARAGE' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="operation" style="max-width: none;">
      <ion-icon name="construct"></ion-icon>
      <ion-label>{{ 'COMMON.OPERATION' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="configuration" style="max-width: none;">
      <ion-icon name="cog"></ion-icon>
      <ion-label>{{ 'COMMON.CONFIGURATION' | translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
