<ion-header>
    <!-- HEADER -->
    <ion-toolbar>
        <!-- Button Header -->
        <ion-button *ngIf="this.input.iconButton !== ''" slot="start" fill="clear" (click)="emitButtonHeader($event)" class="btn-width-header">
            <ion-icon size="large" class="btn-color" [name]="this.input.iconButton"></ion-icon>
        </ion-button>
        <!-- Title -->
        <ion-title color="text-header" class="align-center">{{ this.input.title | translate }}</ion-title>
        <!-- Button Close -->
        <ion-button fill="clear" slot="end" (click)="closeModal()" class="btn-width-header">
            <ion-icon size="large" class="btn-color" name="close-circle"></ion-icon>
        </ion-button>
    </ion-toolbar>
    <!-- SEGMENT -->
    <ion-segment *ngIf="this.input.dataSegment.length > 0" class="segment-button-fixed" [value]="this.selectedSegment" 
            [scrollable]="activeSegmentScroll()" (ionChange)="emitSegmentHeader($event)">
        <ion-segment-button *ngFor="let data of this.input.dataSegment; let i = index;" [value]="data.id" layout="icon-start">
            <ion-label>{{ data.name }}</ion-label>
            <ion-icon size="small" [name]="data.icon"></ion-icon>
        </ion-segment-button>
    </ion-segment>
</ion-header>