.main-item {
    width: 100%;
}

.min-width90 {
    min-width: 90%;
    max-width: 90%;
}

.min-width94 {
    min-width: 94%;
    max-width: 94%;
}

.min-width100 {
    min-width: 100%;
}

.max-width60 {
    max-width: 60px;
}

.inputFile {
    width: 0;
    height: 0;
}

ion-item .main-item div ion-label {
    opacity: 1 !important;
}