<ion-header>
    <ion-toolbar>
        <!-- Title -->
        <ion-title color="text-header" class="align-center">{{ 'COMMON.SETTINGS' | translate }}</ion-title>
        <!-- Button Close -->
        <ion-button fill="clear" (click)="closeModal()" class="btn-width-header" slot="end">
          <ion-icon color="primary" size="large" name="close-circle"></ion-icon>
        </ion-button>
    </ion-toolbar>
</ion-header>

<ion-content>
  <!-- SETTINGS -->
  <ion-list>
    <ion-list-header class="padding-list-header">
      <ion-icon size="large" name="settings"></ion-icon>
      <h3 class="header-list">{{ 'COMMON.CUSTOM_SETTINGS' | translate }}</h3>
    </ion-list-header>
    <ion-item>
      <ion-label position="stacked">
        <ion-text>{{ 'COMMON.MEASURING' | translate }}</ion-text>
      </ion-label>
      <ion-select interface="popover" [(ngModel)]="distanceSelected.code" (ionChange)="changeDistance()">
        <ion-select-option [(value)]="d.code" *ngFor="let d of listDistances">{{d.valueLarge + ' - ' + d.value}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">
        <ion-text>{{ 'COMMON.COIN' | translate }}</ion-text>
      </ion-label>
      <ion-select interface="popover" [(ngModel)]="moneySelected.code" (ionChange)="changeMoney()">
        <ion-select-option [(value)]="m.code" *ngFor="let m of listMoney" >{{m.valueLarge + ' - ' + m.value}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <!-- THEME -->
  <ion-list>
    <ion-list-header class="padding-list-header">
      <ion-icon size="large" name="color-palette"></ion-icon>
      <h3 class="header-list">{{ 'COMMON.THEMES' | translate }}</h3>
    </ion-list-header>
    <ion-item>
      <ion-label position="stacked">
        <ion-text>{{ 'COMMON.MODE' | translate }}</ion-text>
      </ion-label>
      <ion-select interface="popover" [(ngModel)]="themeSelected.code" (ionChange)="changeTheme()">
        <ion-select-option [(value)]="t.code" *ngFor="let t of listThemes">{{t.value}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <!-- EXPORTS / IMPORTS -->
  <ion-list>
    <ion-list-header class="padding-list-header">
      <ion-icon size="large" name="download"></ion-icon>
      <h3 class="header-list">{{ 'COMMON.MANAGE_DATA' | translate }}</h3>
      <ion-button class="btn-width-list" fill="clear" (click)="showGuideExportImport()">
        <ion-icon color="primary" size="large" name="information-circle"></ion-icon>
      </ion-button>
    </ion-list-header>
    <ion-item>
      <div class="main-item">
        <div>
          <ion-label position="stacked">
            <ion-text>{{ 'COMMON.EXPORT' | translate }}</ion-text>
          </ion-label>
          <div class="table-row">
            <div class="min-width90" (click)="showRealExportPath()">
              <ion-input placeholder="--" type="text" disabled [(ngModel)]="pathExports"></ion-input>
              <ion-input placeholder="--" type="text" disabled [(ngModel)]="lastExport"></ion-input>
            </div>
            <div class="max-width60">
              <ion-button fill="clear" (click)="exportData()">
                <ion-icon color="primary" name="exit"></ion-icon>
              </ion-button>
              <ion-button fill="clear" (click)="deleteExportFiles()">
                <ion-icon color="primary" name="trash"></ion-icon>
              </ion-button>
            </div>
          </div>
        </div>
      </div>
    </ion-item>
    <ion-item>
      <div class="main-item">
        <div>
          <ion-label position="stacked">
            <ion-text>{{ 'COMMON.IMPORT' | translate }}</ion-text>
          </ion-label>
          <div class="table-row">
            <div class="min-width90">
              <ion-input placeholder="--" type="text" disabled [(ngModel)]="pathImports"></ion-input>
            </div>
            <div class="max-width60">
              <ion-button fill="clear" (click)="f.click()">
                <ion-icon color="primary" name="enter"></ion-icon>
              </ion-button>
              <input id="file-input" class="ion-hide" #f type="file" (change)="validFileAndImport($event)">    
            </div>
          </div>
        </div>
      </div>
    </ion-item>
  </ion-list>

  <!-- PRIVACY POLICY -->
  <ion-list>
    <ion-list-header class="padding-list-header">
      <ion-icon size="large" name="lock-closed"></ion-icon>
      <h3 class="header-list">{{ 'COMMON.PRIVACY_POLICY' | translate }}</h3>
      <ion-button class="btn-width-list" fill="clear" (click)="showPrivacyPolicy()">
        <ion-icon color="primary" size="large" name="document-lock"></ion-icon>
      </ion-button>
    </ion-list-header>
    <ion-item>
      <ion-label>{{ 'COMMON.ACCEPT_POLICY' | translate }}</ion-label>
      <ion-toggle color="primary" [(ngModel)]="acceptPrivacyPolicy" (ionChange)="changePrivacy()"></ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>