<ion-header [hidden]="!loadedHeader">
  <ion-toolbar>
    <!-- Button chart -->
    <ion-button slot="start" fill="clear" 
      (click)="openDashboardOperation()" class="btn-width-header">
      <ion-icon size="large" [name]="iconNameHeaderLeft"></ion-icon>
    </ion-button>
    <!-- Tittle -->
    <ion-title class="align-center">{{ 'COMMON.OPERATIONS' | translate }}</ion-title>
    <!-- Button filter -->
    <ion-button slot="end" fill="clear" (click)="showPopover($event)" class="btn-width-header">
      <ion-icon size="large" name="filter"></ion-icon>
    </ion-button>
  </ion-toolbar>
  <!-- SEGMENT -->
  <ion-segment class="segment-button-fixed" 
    [value]="this.vehicleSelected" [scrollable]="activeSegmentScroll()" (ionChange)="segmentChanged($event)">
    <ion-segment-button *ngFor="let v of vehicles; let i = index;" [value]="v.id" layout="icon-start">
      <ion-label>
        {{ v.brand + ' ' + v.model }}
      </ion-label>
      <ion-icon size="small" [name]="getIconVehicle(v)"></ion-icon>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content [hidden]="!loadedBody">
  <!-- INFO -->
  <app-info *ngIf="operations.length === 0" [inputInfo]="input"></app-info>
  <!-- LIST -->
  <ion-list *ngIf="operations.length > 0" class="segment-top margin-bottom45">
    <ion-item button *ngFor="let op of operations">
      <!-- Icons -->
      <ion-avatar slot="start" class="max-width10" (click)="openOperationModal(op, false)">
        <ion-icon size="large" class="icon-color" [name]="this.getIconOperationType(op)"></ion-icon>
      </ion-avatar>
      <!-- Labels -->
      <ion-label class="min-width40 label-event-force" (click)="openOperationModal(op, false)">
        <h2 class="text-overflow">{{ op.description }}</h2>
        <h3>{{ op.km }} {{measure.value}}</h3>
      </ion-label>
      <ion-label class="padding-left10 label-event-force" (click)="openOperationModal(op, false)">
        <p class="p-style">{{ op.date | dateFormatCalendarPipe }}</p>
        <p class="p-style">{{ this.calculatePriceOperation(op) }} {{coin.value}}</p>
      </ion-label>
      <!-- Buttons delete -->
      <ion-label class="align-right fix-width69">
        <ion-label>
          <ion-button class="btn-width-row" fill="clear" (click)="deleteOperation(op)">
            <ion-icon size="large" class="btn-color" name="trash"></ion-icon>
          </ion-button>
        </ion-label>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-fab *ngIf="this.vehicles.length > 0" horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button (click)="openOperationModal()">
      <ion-icon name="duplicate"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab *ngIf="this.vehicles.length === 0" horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button (click)="showModalInfoVehicle()">
      <ion-icon name="information-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<!-- SKELETON LOADER INITAL -->
<ion-header *ngIf="!loadedHeader">
  <app-header-skeleton [input]="[2, 4, 2, 4]"></app-header-skeleton>
</ion-header>

<ion-content *ngIf="!loadedBody">
  <ion-list>
    <ion-item *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8]">
      <ion-avatar slot="start"><ion-skeleton-text animated></ion-skeleton-text></ion-avatar>
      <ion-label>
        <h3><ion-skeleton-text animated style="width: 70%"></ion-skeleton-text></h3>
        <h2><ion-skeleton-text animated style="width: 40%"></ion-skeleton-text></h2>
      </ion-label>
      <ion-label>
        <p><ion-skeleton-text animated style="width: 60%"></ion-skeleton-text></p>
        <p><ion-skeleton-text animated style="width: 30%"></ion-skeleton-text></p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
