<ion-header [hidden]="!loaded">
  <ion-toolbar>
    <!-- Button chart -->
    <ion-button *ngIf="this.operations.length > 0" slot="start" fill="clear" 
      (click)="openDashboardOperation()" class="btn-width-header">
      <ion-icon size="large" name="bar-chart"></ion-icon>
    </ion-button>
    <!-- Button info -->
    <ion-button *ngIf="this.operations.length === 0" slot="start" fill="clear"
      (click)="showModalInfoOperation()" class="btn-width-header">
      <ion-icon size="large" class="btn-color" name="information-circle-outline"></ion-icon>
    </ion-button>
    <!-- Tittle -->
    <ion-title class="align-center">{{ 'COMMON.OPERATION' | translate }}</ion-title>
    <!-- Button filter -->
    <ion-button slot="end" fill="clear" (click)="showPopover($event)" class="btn-width-header">
      <ion-icon size="large" name="filter"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen [hidden]="!loaded">
  <ion-list>
    <ion-list-header class="padding-list-header">
      <!-- Title -->
      <ion-icon size="large" name="construct"></ion-icon>
      <h3 *ngIf="this.operations.length === 0 && this.filterDashboard.searchMoto.brand === null"
        class="header-list">{{ 'PAGE_OPERATION.YOURS_OPERATIONS' | translate }}</h3>
      <h3 *ngIf="this.filterDashboard.searchMoto.brand !== null" class="header-list">{{ 'COMMON.OPERATIONS_OF' | translate }} {{ nameFilterMoto }}</h3>
      <!-- Button create -->
      <ion-button class="btn-width-list" *ngIf="this.filterDashboard.searchMoto.brand !== null" fill="clear" (click)="openOperationModal()">
        <ion-icon size="large" class="btn-color" name="add-circle-outline"></ion-icon>
      </ion-button>
      <!-- Button info -->
      <ion-button class="btn-width-list" *ngIf="this.operations.length === 0 && this.filterDashboard.searchMoto.brand === null" 
        fill="clear" (click)="showModalInfoMoto()">
        <ion-icon size="large" class="btn-color" name="information-circle-outline"></ion-icon>
      </ion-button>
    </ion-list-header>
    <div *ngIf="operations.length === 0" class="info-content">
      <div class="info-main">
          <div>
              <ion-icon size="large" name="construct"></ion-icon>
              <h2 class="margin-top5">{{ 'ALERT.OperationEmpty' | translate }}</h2>
          </div>
      </div>
    </div>
    <ion-item button *ngFor="let op of operations">
      <!-- Icons -->
      <ion-avatar slot="start" class="max-width10" (click)="openOperationModal(op, false)">
        <ion-icon size="large" class="icon-color" [name]="this.getIconOperationType(op)"></ion-icon>
      </ion-avatar>
      <!-- Labels -->
      <ion-label class="min-width40" (click)="openOperationModal(op, false)">
        <h2 class="text-overflow">{{ op.description }}</h2>
        <h3>{{ op.km }} km</h3>
      </ion-label>
      <ion-label class="padding-left10" (click)="openOperationModal(op, false)">
        <p>{{ op.date | dateFormatCalendarPipe }}</p>
        <p>{{ op.price }} €</p>
      </ion-label>
      <!-- Buttons delete -->
      <ion-label class="align-right">
        <ion-label>
          <ion-button class="btn-width-row" fill="clear" (click)="deleteOperation(op)">
            <ion-icon size="large" class="btn-color" name="trash"></ion-icon>
          </ion-button>
        </ion-label>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<!-- SKELETON LOADER INITAL -->
<ion-header *ngIf="!loaded">
  <ion-toolbar>
    <ion-title style="padding-left: 20%; padding-right: 20%;">
      <ion-skeleton-text animated></ion-skeleton-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!loaded">
  <ion-list>
    <ion-list-header class="padding-list-header">
      <ion-label style="width: 85%">
        <ion-skeleton-text animated style="width: 85%"></ion-skeleton-text>
      </ion-label>
      <ion-label>
        <ion-spinner name="lines-small" color="medium" slot="end"></ion-spinner>
      </ion-label>
    </ion-list-header>
    <ion-item *ngFor="let i of [1, 2, 3, 4, 5]">
      <ion-avatar slot="start"><ion-skeleton-text animated></ion-skeleton-text></ion-avatar>
      <ion-label>
        <h3><ion-skeleton-text animated style="width: 70%"></ion-skeleton-text></h3>
        <h2><ion-skeleton-text animated style="width: 40%"></ion-skeleton-text></h2>
      </ion-label>
      <ion-label>
        <p><ion-skeleton-text animated style="width: 60%"></ion-skeleton-text></p>
        <p><ion-skeleton-text animated style="width: 30%"></ion-skeleton-text></p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
