.second-avatar {
    padding: 10px 0px 0px 7px;
    margin: auto;
}

.second-div {
    width: 100%;
    flex: 1 1 auto;
    padding: 5px 0px 0px 0px;
}

.third-div {
    width: 50%;
    padding: 0px 0px 4px 0px;
}

.subthird-div {
    width: 38%;
    padding: 0px 0px 4px 0px;
}

.text-size-small {
    font-size: 13px;
}

.submain-div {
    width: 100%;
   padding: 8px 0px 0px 0px;
}

.sub-icon {
    width: 19px;
    margin-top: -2px;
    margin-right: 2px;
    height: 19px;
}
