.second-avatar {
    padding: 10px 0px 0px 7px;
    margin: auto;
}

.second-div {
    width: 100%;
    flex: 1 1 auto;
    padding: 5px 0px 0px 0px;
}

.third-div {
    width: 50%;
    padding: 0px 0px 4px 0px;
}

.subthird-div {
    width: 38%;
    padding: 0px 0px 4px 0px;
}

.text-size-small {
    font-size: 13px;
}

.submain-div {
    width: 100%;
   padding: 8px 0px 0px 0px;
}

.sub-icon {
    padding-right: 4px;
    font-size: 17px !important; // Windows bugs
    width: 18px;
    margin-top: -1px;
    height: 18px;
}

.sub-main-icon {
    padding-right: 3px;
    font-size: 15px !important; // Windows bugs
    width: 15px;
    height: 15px;
}
