<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="homeTab">
      <ion-icon name="pie"></ion-icon>
      <ion-label>{{ 'HOME' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="motoTab">
      <ion-icon name="bicycle"></ion-icon>
      <ion-label>Moto</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="operationTab">
      <ion-icon name="construct"></ion-icon>
      <ion-label>Operacion</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="configurationTab">
      <ion-icon name="cog"></ion-icon>
      <ion-label>Configuracion</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
