<ion-header>
  <ion-toolbar>
    <ion-title class="align-center">Moto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-icon size="large" name="bicycle"></ion-icon>
      <h3 class="header-list">Tus motos</h3>
      <ion-button fill="clear" (click)="openCreateModal()">
        <ion-icon size="large" class="btn-color" name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-list-header>
    <ion-item button *ngFor="let m of motos" (click)="openEditModal(m)">
      <ion-label>
        <h2>{{ m.brand }}</h2>
        <h3>{{ m.model }}</h3>
        <p>{{ m.year }}</p>
      </ion-label>
      <ion-label>
        <h3>{{ m.km }} km</h3>
        <ion-label class="row-block flex-items-center">
          <ion-icon name="cog"></ion-icon>
          <p class="icon-label">{{ m.configuration.name }}</p>
        </ion-label>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
