.info-content {
    color: rgba(0, 0, 0, 0.2);
    height: calc(70vh - 112px);
    display: flex;
    flex-direction: column;
}

.info-main {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex: 1;
}