
.p-inline {
    margin-left: 5px; 
    display: inline;
}

.header-list {
    width: 100%;
    text-align: left;
    margin-left: 10px;
}

.width100 {
    width: 100%;
}

.align-center {
    text-align: center;
}

.align-left {
    text-align: left;
}
