<?xml version='1.0' encoding='utf-8'?>
<widget android-versionCode="342" id="mtm.free.ionic.dey125r" version="3.4.2" windows-packageVersion="3.4.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>MtM Free</name>
    <description>Motor Track Manager Free</description>
    <author email="deyhome.mtm@gmail.com" href="https://mtmweb-cd867.web.app/home">DeyHome</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <preference name="ScrollEnabled" value="false" />
    <preference name="android-minSdkVersion" value="22" />
    <preference name="android-targetSdkVersion" value="32" />
    <preference name="WindowsStoreIdentityName" value="52193DeyHome.MotortrackManagerFree" />
    <preference name="WindowsStorePublisherName" value="DeyApps" />
    <preference name="WindowsStoreDisplayName" value="Motor Track Manager Free" />
    <preference name="windows-target-version" value="10.0" />
    <preference name="windows-phone-target-version" value="10.0" />
    <preference name="BackupWebStorage" value="none" />
    <preference name="SplashScreenDelay" value="0" />
    <preference name="ShowSplashScreen" value="false" />
    <preference name="AndroidPersistentFileLocation" value="Compatibility" />
    <platform name="android">
        <hook src="scripts/beforeBuild.js" type="before_build" />
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="src/assets/icon/icon-splash.png" />
        <preference name="AndroidWindowSplashScreenBackground" value="#2A2A2A" />
        <preference name="AndroidXEnabled" value="true" />
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application" xmlns:android="http://schemas.android.com/apk/res/android">
            <application android:networkSecurityConfig="@xml/network_security_config" />
            <application android:usesCleartextTraffic="true" />
            <application android:exported="true" />
        </edit-config>
        <preference name="loadUrlTimeoutValue" value="30000" />
        <resource-file src="resources/android/xml/network_security_config.xml" target="app/src/main/res/xml/network_security_config.xml" />
        <allow-intent href="market:*" />
        <icon density="ldpi" src="resources/android/icon/drawable-ldpi-icon.png" />
        <icon density="mdpi" src="resources/android/icon/drawable-mdpi-icon.png" />
        <icon density="hdpi" src="resources/android/icon/drawable-hdpi-icon.png" />
        <icon density="xhdpi" src="resources/android/icon/drawable-xhdpi-icon.png" />
        <icon density="xxhdpi" src="resources/android/icon/drawable-xxhdpi-icon.png" />
        <icon density="xxxhdpi" src="resources/android/icon/drawable-xxxhdpi-icon.png" />
    </platform>
    <plugin name="cordova-plugin-statusbar" spec="2.4.2" />
    <plugin name="cordova-plugin-device" spec="2.0.2" />
    <plugin name="cordova-plugin-splashscreen" spec="5.0.2" />
    <plugin name="cordova-plugin-ionic-webview" spec="^4.0.0" />
    <plugin name="cordova-plugin-ionic-keyboard" spec="^2.0.5" />
    <allow-navigation href="http://localhost:8100" sessionid="700af186" />
    <platform name="windows">
        <Capability Name="internetClientServer" />
        <Capability Name="internetClient" />
        <preference name="SplashScreenDelay" value="3000" />
        <preference name="SplashScreenBackgroundColor" value="#2A2A2A" />
        <icon src="resources/windows/icon/Square44x44Logo.png" target="Square44x44Logo" />
        <icon src="resources/windows/icon/SmallTile.png" target="Square71x71Logo" />
        <icon src="resources/windows/icon/Square150x150Logo.png" target="Square150x150Logo" />
        <icon src="resources/windows/icon/Square310x310Logo.png" target="Square310x310Logo" />
        <icon src="resources/windows/icon/Wide310x150Logo.png" target="Wide310x150Logo" />
        <icon src="resources/windows/icon/StoreLogo.png" target="StoreLogo" />
        <splash src="resources/windows/splash/Splash.png" target="SplashScreen" />
        <splash src="resources/windows/splash/Splash.png" target="SplashScreenPhone" />
    </platform>
</widget>
