/** COLOR CUSTOM **/
.ion-color-text-header {
    --ion-color-base: var(--ion-color-text-header);
    --ion-color-base-rgb: var(--ion-color-text-header-rgb);
    --ion-color-contrast: var(--ion-color-text-header-contrast);
    --ion-color-contrast-rgb: var(--ion-color-text-header-contrast-rgb);
    --ion-color-shade: var(--ion-color-text-header-shade);
    --ion-color-tint: var(--ion-color-text-header-tint);
}

.ion-color-fab-back {
  --ion-color-base: var(--ion-color-fab-back);
  --ion-color-base-rgb: var(--ion-color-fab-back-rgb);
  --ion-color-contrast: var(--ion-color-fab-back-contrast);
  --ion-color-contrast-rgb: var(--ion-color-fab-back-contrast-rgb);
  --ion-color-shade: var(--ion-color-fab-back-shade);
  --ion-color-tint: var(--ion-color-fab-back-tint);
}

ion-calendar.padding-calendar {
  background-color: var(--ion-background-color);
}

ngx-charts-chart text{
    fill: var(--ion-color-step-600, #666); 
}

.ion-color-info-summary {
  color: var(--ion-color-step-600, #666); 
}

.ion-color-info-init {
  color: var(--ion-color-step-350, #666); 
}

.custom-toast {
  color: var(--ion-color-text-header-tint);
}

.disable-item-color {
  color: var(--ion-color-medium);
}

/* CALENDAR*/
$colors: ( 
  primary : #488aff,
  secondary : #32db64,
  danger : #f53d3d,
  light : #f4f4f4,
  dark : #222,
  cal-color : #ff8732,
  gray-light: var(--ion-color-light-shade)
);

// CSS CALENDAR

// Days
.day-text-config {
  p { color: white !important; }
}

.day-circle-config-all {
  background-color: var(--ion-color-step-150) !important;
}

button.day-circle-config-all.days-btn p {
  color: var(--ion-color-text-header-shade) !important;
}

.day-circle-config-skull {
  background-color: rgba(var(--ion-color-progressbar-danger-progress), 0.7) !important;
}

button.day-circle-config-skull.days-btn p {
  color: var(--ion-color-text-header-shade) !important;
}

.day-circle-config-danger {
  background-color: rgba(var(--ion-color-progressbar-danger-progress), 0.4) !important;
}

button.day-circle-config-danger.days-btn p {
  color: var(--ion-color-text-header-shade) !important;
}

.day-circle-config-warning {
  background-color: rgba(var(--ion-color-progressbar-warning-progress), 0.5) !important;
}

button.day-circle-config-warning.days-btn p {
  color: var(--ion-color-text-header-shade) !important;
}

.day-circle-config-success {
  background-color: rgba(var(--ion-color-progressbar-success-progress), 0.4) !important;
}

button.day-circle-config-success.days-btn p {
  color: var(--ion-color-text-header-shade) !important;
}

.day-circle-config-blue {
  background-color: rgba(var(--ion-color-primary-rgb), 0.4) !important;
}

button.days-btn.today p {
  font-weight: bold;
}

button.days-btn p {
  color: var(--ion-color-step-750) !important;
}

button.days-btn.today p {
  color: var(--ion-color-step-900) !important;
}

// Months

.month-packer-item button,
.year-packer-item button {
  color: var(--ion-color-step-750) !important;
}

.month-packer-item.this-month button,
.year-packer-item.this-year button {
  font-weight: bold;
  color: var(--ion-color-step-900) !important;
}

.month-packer-item.month-circle-config-all button,
.year-packer-item.year-circle-config-all button {
  background-color: var(--ion-color-step-350) !important;
  color: var(--ion-color-text-header-shade) !important;
}

.month-packer-item.month-circle-config-skull button,
.year-packer-item.year-circle-config-skull button {
  background-color: rgba(var(--ion-color-progressbar-danger-progress), 0.7) !important;
  color: var(--ion-color-text-header-shade) !important;
}

.month-packer-item.month-circle-config-danger button,
.year-packer-item.year-circle-config-danger button {
  background-color: rgba(var(--ion-color-progressbar-danger-progress), 0.4) !important;
  color: var(--ion-color-text-header-shade) !important;
}

.month-packer-item.month-circle-config-warning button,
.year-packer-item.year-circle-config-warning button {
  background-color: rgba(var(--ion-color-progressbar-warning-progress), 0.5) !important;
  color: var(--ion-color-text-header-shade) !important;
}

.month-packer-item.month-circle-config-success button,
.year-packer-item.year-circle-config-success button {
  background-color: rgba(var(--ion-color-progressbar-success-progress), 0.4) !important;
  color: var(--ion-color-text-header-shade) !important;
}

// BUG Calendar windows: Dont show icons
.button-native.sc-ion-button-md .sc-ion-icon-h.md.hydrated .s-ion-icon {
  display: block;
  width: inherit;
  height: inherit;  
}

// COLORS

.icon-color-success {
  --ion-color-base: rgba(var(--ion-color-progressbar-success-progress), 0.6);
}

.icon-color-gray {
  --ion-color-base: var(--ion-color-step-600, #666);
}

.icon-color-warning {
  --ion-color-base: rgba(var(--ion-color-progressbar-warning-progress), 0.6);
}

.icon-color-danger {
  --ion-color-base: rgba(var(--ion-color-progressbar-danger-progress), 0.6);
}

.icon-color-skull {
  --ion-color-base: rgba(var(--ion-color-progressbar-danger-progress), 0.8);
}

.quizz-progress-success {
  ion-progress-bar {
      --background: rgba(var(--ion-color-progressbar-success-progress));
      --buffer-background: rgba(var(--ion-color-progressbar-success-progress), 0.4);
      --progress-background: rgba(var(--ion-color-progressbar-success-progress), 0.6);
  }
}

.quizz-progress-warning {
  ion-progress-bar {
      --background: rgba(var(--ion-color-progressbar-warning-progress));
      --buffer-background: rgba(var(--ion-color-progressbar-warning-progress), 0.4);
      --progress-background: rgba(var(--ion-color-progressbar-warning-progress), 0.6);
  }
}

.quizz-progress-danger {
  ion-progress-bar {
      --background: rgba(var(--ion-color-progressbar-danger-progress));
      --buffer-background: rgba(var(--ion-color-progressbar-danger-progress), 0.4);
      --progress-background: rgba(var(--ion-color-progressbar-danger-progress), 0.6);
  }
}

// BUG SEGMENT windows: Dont work scroll
// ion-segment-button {
//   min-width: 90px !important;
// }

// .color-dark {
//   background-color: var(--ion-color-dark);
// }

// ion-list {
//   background: none !important;
// }