.width100 {
    width: 100%;
}

.margin-top0 {
    margin-top: 0px;
}

.margin-top5 {
    margin-top: 5px;
}

.margin-top-5 {
    margin-top: -5px;
}

.margin-top8 {
    margin-top: 8px;
}

.margin-right5 {
    margin-right: 5px;
}

.margin-left80 {
    margin-left: 80%;
}

.padding-left20 {
    padding-left: 20%;
}

.padding-left10 {
    padding-left: 10px;
}

.padding-left12 {
    padding-left: 12px;
}

.padding-left15 {
    padding-left: 15px;
}

.padding-left30 {
    padding-left: 30px;
}

.margin-right10 {
    margin-right: 10px;
}

.margin-right-15 {
    margin-right: -15px;
}

.margin-bottom35 {
    margin-bottom: 35px;
}

.margin-bottom45 {
    margin-bottom: 45px;
}

.margin-bottom55 {
    margin-bottom: 55px;
}

.align-center {
    text-align: center;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.btn-width-header {
    width: 56px;
}

.btn-width-list {
    width: 60px;
}

.btn-width-row {
    width: 50px;
}

.btn-color {
    color:var(--ion-color-primary-tint);
}

.btn-color-fix {
    color: white;
}

.btn-color-error {
    color:var(--ion-color-danger);
}

.icon-color {
    color:var(--ion-color-medium-shade);
}

.icon-color-MH {
    color:var(--ion-color-danger-tint);
}

.icon-color-MW {
    color:var(--ion-color-danger-shade);
}

.icon-color-FH {
    color:var(--ion-color-danger-tint);
}

.icon-color-FW {
    color:var(--ion-color-danger-shade);
}

.icon-color-C {
    color:var(--ion-color-warning-tint);
}

.icon-color-A {
    color:var(--ion-color-medium-tint);
}

.icon-color-T {
    color:var(--ion-color-tertiary-shade);
}

.icon-color-O {
    color:var(--ion-color-secondary-tint);
}

.btn-header {
    padding-bottom: 10px;
}

.title-header {
    display: inline-flex;
    text-align: center;
    width: 80%;
    padding-top: 10px;
    padding-right: 0px;
}

.icon-label {
    margin: 0;
    padding: 0 4px;
    line-height: 1em;
    flex: 1;
}

.flex-items-center {
    align-items: center;
}

.max-height {
    height: 100%;
}

.header-list {
    width: 100%;
    text-align: left;
    margin-left: 10px;
}

.max-width10 {
    max-width: 10%;
}

.min-width40 {
    min-width: 40%;
}

.min-width45 {
    min-width: 45%;
}

.min-width55 {
    min-width: 55%;
}

.min-width70 {
    min-width: 70%;
}

.min-width75 {
    min-width: 75%;
}

.min-height29 {
    min-height: 29px;
}

.width30 {
    width: 30px;
}

.right {
    float: right;
}

.font-size26 {
    font-size: 26px;
}

.text-overflow {
    text-overflow: inherit;
    overflow: inherit;
}

.position-fixed {
    position: fixed;
}

.button-circle {
    border-radius: 50%;
    display: block;
    height: 50px;
    width: 50px;
    position: fixed;
    box-sizing: content-box;
    overflow: hidden;
    bottom: 10px;
    right: 15px;
    z-index: 3000;
    background-color: var(--ion-color-primary-tint);
    box-shadow: 0 3px 5px 2px rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12)
}

.background-gray {
    background:var(--ion-color-medium-shade);
}

.label-filter {
    text-align: center;
    width: 100%;
}

.table-row {
    display: flex;
    flex-direction: row;
}

.justify-end {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.justify-center {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    justify-content: center;
}

.info-main {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex: 1;
}

.info-content {
    color: rgba(0, 0, 0, 0.2);
    height: calc(70vh - 112px);
    display: flex;
    flex-direction: column;
}

.search-bar-location {
    padding-inline-start: initial;
    padding-inline-end: initial;
    padding-top: initial;
    padding-bottom: initial;
}

.ion-icon-margin {
    margin: 2px 16px 2px 0px;
}



// NOTIFICATIONS

.main-div {
    width: 100%;
    padding: 15px 0px 0px 0px;
}

.main-item-div {
    flex: 1 1 auto;
  }

.progress-bar {
    padding: 0px 16px 0px 16px;
}

.avatar-row {
    margin-top: 14px;
    margin-bottom: 2px;
}

.icon-notification {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.padding-info-title {
    margin: 0;
    padding: 4px 10px 4px 10px;
}

.padding-info {
    padding: 50px 0px 50px 0px;
}

.auto-width {
    flex: 1 1 auto !important;  // Bug windows
}

.fix-width69 {
    width: 69px !important; // Bug windows
    flex: none !important; // Bug windows
}

.padding-list-header {
    padding-left: 16px;
}

.label-event-force {
    pointer-events: initial !important;
}

.p-row {
    margin: 10px 8px 4px 2px;
    color: var(--ion-color-step-600,#666);
}

.p-color {
    color: var(--ion-color-step-600,#666)
}

.icon-row {
    margin: 8px 2px 4px 3px;
}

.index-top {
    z-index: 3000;
}

.welcome-card img {
    max-height: 35vh;
    overflow: hidden;
  }
  
  .font-size16 {
    font-size: 16px;
  }
  
  .margin-botton0 {
    margin-bottom: 0px;
  }
  
  .margin0 {
    margin: 0px;
  }
  
  .main-avatar {
    //padding: 20px 0px 0px 14px;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  .main-icon {
    padding: 15px 10px 0px 10px;
  }
  
  .second-avatar {
    padding: 10px 0px 0px 15px;
  }
  
  .second-icon-avatar {
    width: 25px;
  }
  
  .second-item-div {
    flex: 1 1 auto;
    padding: 0px 0px 0px 0px;
  }
  
  .second-div {
    width: 100%;
    padding: 5px 0px 4px 0px;
  }
  
  .icon-row2 {
    padding: 3px 2px 8px 5px;
  }
  
  .icon-row3 {
    padding: 2px 1px 5px 4px;
  }
  
  .h-row2 {
    margin: 2px 2px 1px 1px;
    white-space: normal !important;
  }
  
  .h-row3 {
    font-size: 15px;
    margin: 7px 8px 0px 1px;
  }
  
  .p-row2 {
    margin: 5px 8px 0px 1px;
    color: var(--ion-color-step-600,#666);
    font-size: 14px;
  }

  .div-spinner {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    justify-content: center;
    min-height: 220px;
  }

  .spinner {
    width: 100px;
    height: 40px;
  }

  // Calendar Button

ion-datetime-button {
    width: 100%;
}

ion-datetime-button::part(native) {
    background: transparent;
    width: 100%;
    text-align: start;
    padding-left: 0px;
}


ion-calendar ion-button.button-has-icon-only {
    min-width: 0px;
}

// CARDS

ion-card .list-md {
    background: none;
}

ion-card ion-item::part(native) {
  background: transparent;
}

ion-card-header {
    padding-bottom: 5px;
}

ion-card .card-content-md p {
    margin-top: 6px;
    margin-left: 4px;
}

.card-with-progress-bar {
  position: relative;
  overflow: hidden; // para que la barra no se salga del card
}

.card-progress-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6px;
}

ion-segment-button .card-progress-bar {
  bottom: 7px;
  height: 4px;
}

.progress {
  height: 100%;
}

// OTHERS

.label-required {
    min-width: 350px;
}

ion-label {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

ion-alert .alert-message {
    white-space: pre-line;
}