<ion-list>
    <ion-list-header>
        <!-- Tittle -->
        <ion-label class="label-filter"><h2>{{ 'COMMON.FILTER' | translate }}</h2></ion-label>
        <!-- Button Close -->
        <ion-label>
            <ion-button slot="end" fill="clear" (click)="closePopover()" class="btn-width-header">
                <ion-icon size="large" name="close-circle"></ion-icon>
            </ion-button>
        </ion-label>
    </ion-list-header>
    <!-- Filters -->
    <ion-item *ngIf="isParentPageHome()">
        <ion-toolbar>
            <ion-segment [value]="searchDashboard.filterKmTime" [(ngModel)]="searchDashboard.filterKmTime"
            (ionChange)="onChangeFilterDashboardGrouper()">
                <ion-segment-button value="KM">
                <ion-icon size="large" name="navigate"></ion-icon>
                </ion-segment-button>
                <ion-segment-button value="TIME">
                <ion-icon size="large" name="alarm"></ion-icon>
                </ion-segment-button>
            </ion-segment>
        </ion-toolbar>
    </ion-item>
    <ion-item *ngIf="isParentPageOperation()">
        <ion-searchbar class="search-bar-location" [(ngModel)]="searchDashboard.searchText" showCancelButton="never" 
            debounce="500" (ionChange)="onChangeFilterOperationGrouper()"></ion-searchbar>
    </ion-item>
    <ion-item *ngIf="isParentPageHome() || isParentPageDashboardOperation()">
        <ion-label>{{ 'COMMON.CALCULATE_PER_MONTH' | translate }}</ion-label>
        <ion-select [placeholder]="this.translateSelect" interface="popover"
            [(ngModel)]="this.filterMonth" (ionChange)="onChangeFilterDashboardGrouper()">
            <ion-select-option [(value)]="m.id" *ngFor="let m of months">{{ m.name }}</ion-select-option>
        </ion-select>
    </ion-item>
    <ion-item *ngIf="isParentPageOperation()">
        <ion-label>{{ 'COMMON.VEHICLES' | translate }}</ion-label>
        <ion-select [placeholder]="this.translateSelect" interface="popover"
            [(ngModel)]="this.filterVehicle" (ionChange)="onChangeFilterOperationGrouper()">
            <ion-select-option [(value)]="m.id" *ngFor="let m of vehicles">{{ m.brand + ' ' + m.model }}</ion-select-option>
          </ion-select>
    </ion-item>
    <ion-item>
        <ion-label>{{ 'COMMON.OP_TYPE' | translate }}</ion-label>
        <ion-select [placeholder]="this.translateSelect" multiple="true" 
            [cancelText]="this.translateCancel" [okText]="this.translateAccept"
            [(ngModel)]="this.filterOpType" (ionChange)="onChangeFilterGrouper()">
            <ion-select-option [(value)]="ot.id" *ngFor="let ot of operationTypes">{{ ot.description }}</ion-select-option>
        </ion-select>
    </ion-item>
    <ion-item *ngIf="!isParentPageHome()">
        <ion-label>{{ 'COMMON.REPLACEMENT' | translate }}</ion-label>
        <ion-select [placeholder]="this.translateSelect" multiple="true" 
            [cancelText]="this.translateCancel" [okText]="this.translateAccept"
            [(ngModel)]="this.filterMaintElement" (ionChange)="onChangeFilterGrouper()">
            <ion-select-option [(value)]="me.id" *ngFor="let me of maintenanceElements">{{ me.name }}</ion-select-option>
          </ion-select>
    </ion-item>
    <ion-item *ngIf="isParentPageDashboardVehicle() || isParentPageDashboardOperation()">
        <ion-label>{{ this.translateExpensePerKM }}</ion-label>
        <ion-toggle color="primary" [(ngModel)]="searchDashboard.expensePerKm" (ionChange)="onChangeFilterDashboardGrouper()"></ion-toggle>
    </ion-item>
    <ion-item *ngIf="!isParentPageOperation()">
        <ion-label>{{ 'COMMON.SHOW_AXIS' | translate }}</ion-label>
        <ion-toggle color="primary" [(ngModel)]="searchDashboard.showAxis" (ionChange)="onChangeFilterDashboardGrouper()"></ion-toggle>
    </ion-item>
    <ion-item *ngIf="!isParentPageOperation()">
        <ion-label>{{ 'COMMON.SHOW_LEGEND' | translate }}</ion-label>
        <ion-toggle color="primary" [(ngModel)]="searchDashboard.showLegend" (ionChange)="onChangeFilterDashboardGrouper()"></ion-toggle>
    </ion-item>
    <ion-item *ngIf="!isParentPageOperation()">
        <ion-label>{{ 'COMMON.SHOW_AXIS_LABELS' | translate }}</ion-label>
        <ion-toggle color="primary" [(ngModel)]="searchDashboard.showAxisLabel" (ionChange)="onChangeFilterDashboardGrouper()"></ion-toggle>
    </ion-item>
    <ion-item *ngIf="!isParentPageOperation()">
        <ion-label>{{ 'COMMON.SHOW_DATA_LABELS' | translate }}</ion-label>
        <ion-toggle color="primary" [(ngModel)]="searchDashboard.showDataLabel" (ionChange)="onChangeFilterDashboardGrouper()"></ion-toggle>
    </ion-item>
    <ion-item *ngIf="!isParentPageHome() && !isParentPageOperation()">
        <ion-label>{{ 'COMMON.SHOW_DOGHNUT' | translate }}</ion-label>
        <ion-toggle color="primary" [(ngModel)]="searchDashboard.doghnut" (ionChange)="onChangeFilterDashboardGrouper()"></ion-toggle>
    </ion-item>
    <ion-item *ngIf="!isParentPageOperation()">
        <ion-label>{{ 'COMMON.SHOW_MY_DATA' | translate }}</ion-label>
        <ion-toggle color="primary" [(ngModel)]="searchDashboard.showMyData" (ionChange)="onChangeFilterDashboardGrouper()"></ion-toggle>
    </ion-item>
    <!-- Clear -->
    <ion-item>
        <ion-chip slot="end" outline color="primary" (click)="clearFilter()">
            <ion-icon size="small" name="reload-circle"></ion-icon>
            <ion-label>{{ 'COMMON.CLEAN' | translate }}</ion-label>
        </ion-chip>
    </ion-item>
</ion-list>
