/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* SEGMENTS */

.segment-button-fixed {
  box-shadow: 1px 5px 11px var(--ion-color-step-50);
  background-color: var(--ion-toolbar-background);
}

.segment-top {
  padding-top: 10px;
}

/* CHECKBOX */

ion-checkbox {
  --border-radius: 50% !important;
  --size: 20px !important;
}

/* SELECT */

.alert-wrapper.sc-ion-alert-md {
  min-width: 365px;
}

/* MODAL */

.my-custom-modal {
  --min-width: 90%;
  --min-height: 90%;
}

// SPLASH SCREEN ANIMATION

body {
  background-color: var(--ion-background-color);
}

[hidden] {
  display: none !important;
}

 // SCROLL BAR 
//  *::-webkit-scrollbar {
//   width: 8px;
//   height: 8px;
// }

// *::-webkit-scrollbar-track {
//   box-shadow: inset 0 0 8px gray;
//   border-radius: 8px;
// }

// *::-webkit-scrollbar-thumb {
//   background: var(--ion-background-color);
//   border-radius: 8px;
// }

// SAFARI FIXES

.header-ios ion-toolbar:last-of-type {
    --border-width: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

ion-segment-button {
    margin-top: 0px;
    margin-bottom: 0px;
}

ion-segment-button ion-label, 
ion-segment-button ion-icon {
    margin-top: 8px;
    margin-bottom: 10px;
    margin-left: 2px;
    margin-right: 5px;
}

ion-col {
  padding: 0px;
}

ion-card {
  margin-top: 10px;
  margin-bottom: 0px;
}

.header-ios {
    -webkit-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.icon-margin-p {
    margin-right: 10px;
}