<ion-header>
    <ion-toolbar>
      <!-- Title -->
      <ion-title color="text-header" class="align-center padding-left30">
        {{ (this.modalInputModel.type == MODAL_TYPE_ENUM.CREATE ? 'PAGE_OPERATION.AddNewOperation' : 'PAGE_OPERATION.EditOperation') | translate }}
      </ion-title>
      <!-- Button Close -->
      <ion-button fill="clear" (click)="closeModal()" class="btn-width-header" slot="end">
        <ion-icon size="large" class="btn-color" name="close-circle"></ion-icon>
      </ion-button>
    </ion-toolbar>
  </ion-header>
  
<ion-content>
  <!-- Form -->
  <form #formAddOperation name="formAddOperation" (ngSubmit)="saveData(formAddOperation)" novalidate>
    <ion-list lines="full">
      <!-- Input Control -->
      <ion-item>
        <ion-label position="stacked">
          <ion-text>{{ 'COMMON.DESCRIPTION' | translate }}</ion-text>
          <ion-text color="danger">*</ion-text>
          <ion-icon *ngIf="this.submited && !isValidDescription(formAddOperation)" class="padding-left20" color="danger" size="small" name="alert"></ion-icon>
          <ion-text *ngIf="this.submited && !isValidDescription(formAddOperation)" color="danger">{{ 'PAGE_OPERATION.AddDescription' | translate }}</ion-text>
        </ion-label>
        <ion-input #opDescription name="opDescription" placeholder="--" autocapitalize required type="text" [(ngModel)]="operation.description"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">
          <ion-text>{{ 'COMMON.DETAILS' | translate }}</ion-text>
          <ion-text color="danger">*</ion-text>
          <ion-icon *ngIf="this.submited && !isValidDetails(formAddOperation)" class="padding-left20" color="danger" size="small" name="alert"></ion-icon>
          <ion-text *ngIf="this.submited && !isValidDetails(formAddOperation)" color="danger">{{ 'PAGE_OPERATION.AddDetail' | translate }}</ion-text>
        </ion-label>
        <ion-textarea #opDetails name="opDetails" inputmode="text" placeholder="--" autocapitalize required 
        (ionFocus)="moveCursorToEnd($event)" [(ngModel)]="operation.details"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-select #opVehicle name="opVehicle" [placeholder]="this.translateSelect" required 
            [(ngModel)]="operation.vehicle.id" disabled="true" label-placement="stacked" >
          <div slot="label" class="label-required">
            <ion-text>{{ 'COMMON.VEHICLES' | translate }}</ion-text>
            <ion-text color="danger">*</ion-text>
            <ion-icon *ngIf="this.submited && !isValidVehicle(formAddOperation)" class="padding-left20" color="danger" size="small" name="alert"></ion-icon>
            <ion-text *ngIf="this.submited && !isValidVehicle(formAddOperation)" color="danger">{{ 'PAGE_OPERATION.AddVehicle' | translate }}</ion-text>
          </div>
          <ion-select-option [value]="m.id" *ngFor="let m of vehicles">{{ m.brand + ' ' + m.model }}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-select select #opType name="opType" [placeholder]="this.translateSelect" aria-required="true" 
            required [(ngModel)]="operation.operationType.id" label-placement="stacked" >
          <div slot="label" class="label-required">
            <ion-text>{{ 'COMMON.OPERATION_TYPE' | translate }}</ion-text>
            <ion-text color="danger">*</ion-text>
            <ion-icon *ngIf="this.submited && !isValidOperationType(formAddOperation)" class="padding-left20" color="danger" size="small" name="alert"></ion-icon>
            <ion-text *ngIf="this.submited && !isValidOperationType(formAddOperation)" color="danger">{{ 'PAGE_OPERATION.AddOperationType' | translate }}</ion-text>
          </div>
          <ion-select-option [value]="ot.id" *ngFor="let ot of operationType">{{ ot.description }}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-select #opReplacement name="opReplacement" multiple="true" [placeholder]="this.translateSelect"
            [disabled]="!isOperationTypeWithReplacement()" [cancelText]="this.translateCancel" [okText]="this.translateAccept"
            [(ngModel)]="this.idMaintenanceElementSelect" (ionChange)="changeReplacement()" label-placement="stacked" >
          <div slot="label" class="label-required">
            <ion-text>{{ 'COMMON.REPLACEMENT' | translate }}</ion-text>
          </div>
          <ion-select-option [value]="me.id" *ngFor="let me of maintenanceElement">{{ me.name }}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">
          <ion-text>{{ measure.valueLarge }}</ion-text>
          <ion-text color="danger">*</ion-text>
          <ion-icon *ngIf="this.submited && !isValidKm(formAddOperation)" class="padding-left20" color="danger" size="small" name="alert"></ion-icon>
          <ion-text *ngIf="this.submited && !isValidKm(formAddOperation)" color="danger">{{ 'PAGE_VEHICLE.AddKm' | translate }}</ion-text>
        </ion-label>
        <ion-input #opKm name="opKm" placeholder="10000 {{measure.value}}" required type="number" min="0" [(ngModel)]="operation.km"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">
          <ion-text>{{ 'COMMON.DATE' | translate }}</ion-text>
          <ion-text color="danger">*</ion-text>
          <ion-icon *ngIf="this.submited && !isValidDate(formAddOperation)" class="padding-left20" color="danger" size="small" name="alert"></ion-icon>
          <ion-text *ngIf="this.submited && !isValidDate(formAddOperation)" color="danger">{{ 'PAGE_OPERATION.AddDate' | translate }}</ion-text>
        </ion-label>
        <ion-datetime-button datetime="opDate" required></ion-datetime-button>
        <ion-popover [keepContentsMounted]="true" aria-hidden="false">
          <ng-template>
            <ion-datetime id="opDate" #opDate name="opDate" 
                [(ngModel)]="operation.date" presentation="date"></ion-datetime>
          </ng-template>
        </ion-popover>
        
      </ion-item>
      <ion-item>
        <ion-label position="stacked">
          <ion-text>{{ 'COMMON.OPERATION_PRICE' | translate }}</ion-text>
          <ion-text color="danger">*</ion-text>
          <ion-icon *ngIf="this.submited && !isValidPrice(formAddOperation)" class="padding-left20" color="danger" size="small" name="alert"></ion-icon>
          <ion-text *ngIf="this.submited && !isValidPrice(formAddOperation)" color="danger">{{ 'PAGE_OPERATION.AddPrice' | translate }}</ion-text>
        </ion-label>
        <ion-input #opPrice name="opPrice" placeholder="10 {{coin.value}}" type="number" step="0.01" required 
        inputmode="decimal" min="0" [(ngModel)]="operation.price"></ion-input>
      </ion-item>
      <ion-item *ngFor="let me of this.maintenanceElementSelect; let i = index">
        <ion-avatar slot="start" class="max-width10">
          <ion-icon size="large" class="icon-color" [name]="me.icon"></ion-icon>
        </ion-avatar>
        <ion-label position="stacked">
          <ion-text>{{ 'COMMON.PRICE' | translate }} {{ me.name }}</ion-text>
        </ion-label>
        <ion-input [name]="'opMaintElemPrice' + i" placeholder="10 {{coin.value}}" type="number" step="0.01" required [disabled]="!isOperationTypeWithReplacement()"
          inputmode="decimal" min="0" [(ngModel)]="me.price"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">
          <ion-text>{{ 'COMMON.LOCATION' | translate }}</ion-text>
        </ion-label>
        <ion-input #opLocation name="opLocation" [placeholder]="translateWorkshop" autocapitalize type="text" [(ngModel)]="operation.location"></ion-input>
      </ion-item>
      <ion-item>
        <ion-select #opOwner name="opOwner" [placeholder]="this.translateSelect" [(ngModel)]="operation.owner" label-placement="stacked">
          <div slot="label" class="label-required">
            <ion-text>{{ 'COMMON.OWNER' | translate }}</ion-text>
          </div>
          <ion-select-option [value]="owner.id" *ngFor="let owner of owners">{{ owner.value | translate }}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="false">
        <ion-label position="stacked">
          <ion-text>{{ 'COMMON.DOCUMENT' | translate }}</ion-text>
        </ion-label>
        <ion-input #opDocument name="opDocument" placeholder="--" type="text" [(ngModel)]="operation.document"></ion-input>
      </ion-item>
    </ion-list>
    <!-- Button Create -->
    <ion-button class="button-circle" type="submit">
      <ion-icon name="save"></ion-icon>
    </ion-button>
  </form>
</ion-content>