<ion-header>
    <ion-toolbar>
      <!-- Title -->
      <ion-title *ngIf="this.modalInputModel.isCreate" class="align-center padding-left30">{{ 'PAGE_OPERATION.AddNewOperation' | translate }}</ion-title>
      <ion-title *ngIf="!this.modalInputModel.isCreate" class="align-center padding-left30">{{ 'PAGE_OPERATION.EditOperation' | translate }}</ion-title>
      <!-- Button Close -->
      <ion-button fill="clear" (click)="closeModal()" class="btn-width-header" slot="end">
        <ion-icon size="large" class="btn-color" name="close-circle"></ion-icon>
      </ion-button>
    </ion-toolbar>
  </ion-header>
  
<ion-content>
  <!-- Form -->
  <form #formAddOperation name="formAddOperation" (ngSubmit)="saveData(formAddOperation)" novalidate>
    <ion-list lines="full">
      <!-- Input Control -->
      <ion-item>
        <ion-label position="stacked">
          <ion-text>{{ 'COMMON.DESCRIPTION' | translate }}</ion-text>
          <ion-text color="danger">*</ion-text>
          <ion-icon *ngIf="this.submited && !isValidDescription(formAddOperation)" class="padding-left20" color="danger" size="small" name="alert"></ion-icon>
          <ion-text *ngIf="this.submited && !isValidDescription(formAddOperation)" color="danger">{{ 'PAGE_OPERATION.AddDescription' | translate }}</ion-text>
        </ion-label>
        <ion-input #opDescription name="opDescription" placeholder="--" autocapitalize required type="text" [(ngModel)]="operation.description"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">
          <ion-text>{{ 'COMMON.DETAILS' | translate }}</ion-text>
          <ion-text color="danger">*</ion-text>
          <ion-icon *ngIf="this.submited && !isValidDetails(formAddOperation)" class="padding-left20" color="danger" size="small" name="alert"></ion-icon>
          <ion-text *ngIf="this.submited && !isValidDetails(formAddOperation)" color="danger">{{ 'PAGE_OPERATION.AddDetail' | translate }}</ion-text>
        </ion-label>
        <ion-textarea #opDetails name="opDetails" inputmode="text" placeholder="--" autocapitalize required 
        (ionFocus)="moveCursorToEnd($event)" [(ngModel)]="operation.details"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">
          <ion-text>{{ 'COMMON.MOTORBIKE' | translate }}</ion-text>
          <ion-text color="danger">*</ion-text>
          <ion-icon *ngIf="this.submited && !isValidMoto(formAddOperation)" class="padding-left20" color="danger" size="small" name="alert"></ion-icon>
          <ion-text *ngIf="this.submited && !isValidMoto(formAddOperation)" color="danger">{{ 'PAGE_OPERATION.AddMotorbike' | translate }}</ion-text>
        </ion-label>
        <ion-select #opMoto name="opMoto" [placeholder]="this.translateSelect" required interface="popover" 
          [(ngModel)]="operation.moto.id" disabled="true">
          <ion-select-option [(value)]="m.id" *ngFor="let m of motos">{{ m.brand + ' ' + m.model }}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">
          <ion-text>{{ 'COMMON.OPERATION_TYPE' | translate }}</ion-text>
          <ion-text color="danger">*</ion-text>
          <ion-icon *ngIf="this.submited && !isValidOperationType(formAddOperation)" class="padding-left20" color="danger" size="small" name="alert"></ion-icon>
          <ion-text *ngIf="this.submited && !isValidOperationType(formAddOperation)" color="danger">{{ 'PAGE_OPERATION.AddOperationType' | translate }}</ion-text>
        </ion-label>
        <ion-select #opType name="opType" [placeholder]="this.translateSelect" aria-required="required" interface="popover" 
           required [(ngModel)]="operation.operationType.id">
          <ion-select-option [(value)]="ot.id" *ngFor="let ot of operationType">{{ ot.description }}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">
          <ion-text>{{ 'COMMON.REPLACEMENT' | translate }}</ion-text>
        </ion-label>
        <ion-select #opReplacement name="opReplacement" multiple="true" [placeholder]="this.translateSelect"
        [disabled]="!isOperationTypeMaintenanceReplacement(formAddOperation)" [cancelText]="this.translateCancel"
        [okText]="this.translateAccept" [(ngModel)]="this.maintenanceElementSelect">
          <ion-select-option [(value)]="me.id" *ngFor="let me of maintenanceElement">{{ me.name }}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">
          <ion-text>{{ 'COMMON.KM' | translate }}</ion-text>
          <ion-text color="danger">*</ion-text>
          <ion-icon *ngIf="this.submited && !isValidKm(formAddOperation)" class="padding-left20" color="danger" size="small" name="alert"></ion-icon>
          <ion-text *ngIf="this.submited && !isValidKm(formAddOperation)" color="danger">{{ 'PAGE_MOTO.AddKm' | translate }}</ion-text>
        </ion-label>
        <ion-input #opKm name="opKm" placeholder="10000 km" required type="number" min="0" [(ngModel)]="operation.km"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">
          <ion-text>{{ 'COMMON.DATE' | translate }}</ion-text>
          <ion-text color="danger">*</ion-text>
          <ion-icon *ngIf="this.submited && !isValidDate(formAddOperation)" class="padding-left20" color="danger" size="small" name="alert"></ion-icon>
          <ion-text *ngIf="this.submited && !isValidDate(formAddOperation)" color="danger">{{ 'PAGE_OPERATION.AddDate' | translate }}</ion-text>
        </ion-label>
        <ion-datetime #opDate name="opDate" [displayFormat]="formatDate" required [placeholder]="translateSelect" [(ngModel)]="operation.date"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">
          <ion-text>{{ 'COMMON.PRICE' | translate }}</ion-text>
          <ion-text color="danger">*</ion-text>
          <ion-icon *ngIf="this.submited && !isValidPrice(formAddOperation)" class="padding-left20" color="danger" size="small" name="alert"></ion-icon>
          <ion-text *ngIf="this.submited && !isValidPrice(formAddOperation)" color="danger">{{ 'PAGE_OPERATION.AddPrice' | translate }}</ion-text>
        </ion-label>
        <ion-input #opPrice name="opPrice" placeholder="10 €" required inputmode="decimal" min="0" [(ngModel)]="operation.price"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">
          <ion-text>{{ 'COMMON.LOCATION' | translate }}</ion-text>
        </ion-label>
        <ion-input #opLocation name="opLocation" [placeholder]="translateWorkshop" autocapitalize type="text" [(ngModel)]="operation.location"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">
          <ion-text>{{ 'COMMON.OWNER' | translate }}</ion-text>
        </ion-label>
        <ion-input #opOwner name="opOwner" [placeholder]="translateMe" autocapitalize type="text" [(ngModel)]="operation.owner"></ion-input>
      </ion-item>
      <ion-item *ngIf="false">
        <ion-label position="stacked">
          <ion-text>{{ 'COMMON.DOCUMENT' | translate }}</ion-text>
        </ion-label>
        <ion-input #opDocument name="opDocument" placeholder="--" type="text" [(ngModel)]="operation.document"></ion-input>
      </ion-item>
    </ion-list>
    <!-- Button Create -->
    <ion-button class="button-circle" type="submit">
      <ion-icon name="save"></ion-icon>
    </ion-button>
  </form>
</ion-content>