.info-header-notification-empty {
    color: rgba(0, 0, 0, 0.2);
}

.info-text-notification-empty {
    font-size: 16px;
}

.align-start {
    align-self: flex-start;
}

.header {
    margin-bottom: 6px;
}

.icon-header {
    margin-top: 10px;
    font-size: 28px;
}

.auto-width {
    flex: 1 1 auto;
}

.row-label {
    padding-bottom: 4px;
}

.row-color {
    color: var(--ion-color-step-600, #666);
    margin-top: 4px;
    margin-bottom: 8px;
    margin-left: 2px;
}

.font-size26 {
    font-size: 26px;
}

.font-size20 {
    font-size: 20px;
}

.font-size16 {
    font-size: 16px;
}

.font-size14 {
    font-size: 14px;
}

.font-size13 {
    font-size: 13px;
}

.main-item {
    width: 100%;
    padding: 8px 0px 0px 0px;
}
