.info-header-notification-empty {
    color: rgba(0, 0, 0, 0.2);
}

.info-text-notification-empty {
    font-size: 16px;
}

.padding-calendar {
    padding: 15px 15px 3px 15px;
}

.padding-list {
    padding-top: 4px;
    padding-bottom: 4px;
}

.align-start {
    align-self: flex-start;
}

.align-center {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.header {
    margin-bottom: 6px;
}

.icon-header {
    margin-top: 10px;
    font-size: 28px;
}

.auto-width {
    flex: 1 1 auto;
}

.row-label {
    padding-bottom: 4px;
}

.row-overflow-hiden {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.subrow-width {
    width: 45%;
}

.subrow-color {
    color: #8f8f8f;
}

.icon-pos {
    margin: 0;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 2px;
}

.row-pos {
    margin: 0;
    padding-top: 4px;
    padding-bottom: 2px;
    padding-left: 4px;
}

.font-italic {
    font-style: italic;
}

.subrow-pos {
    margin: 0;
    padding-top: 1px;
    padding-bottom: 6px;
    padding-left: 7px;
}

.font-size20 {
    font-size: 20px;
}

.font-size16 {
    font-size: 16px;
}

.font-size14 {
    font-size: 14px;
}

.font-size13 {
    font-size: 13px;
}

.second-icon-avatar {
    padding-top: 7px;
    padding-left: 1px;
    font-size: 25px;
}

.main-item {
    width: 100%;
    padding: 8px 0px 0px 0px;
}

.second-item {
    margin-right: -20px;
}

.max-width9 {
    width: 9%;
}

