<ion-header>
    <ion-toolbar>
        <!-- Button show filter -->
        <ion-button *ngIf="isCalendar" slot="start" fill="clear" (click)="showPopover($event)" class="btn-width-header">
            <ion-icon size="large" class="btn-color" name="filter"></ion-icon>
        </ion-button>
        <!-- Title -->
        <ion-title class="align-center">{{ labelNameMoto }}</ion-title>
        <!-- Button Close -->
        <ion-button fill="clear" (click)="closeModal()" class="btn-width-header" slot="end">
          <ion-icon size="large" class="btn-color" name="close-circle"></ion-icon>
        </ion-button>
    </ion-toolbar>
</ion-header>


<ion-content fullscreen>
  <!-- RESUME -->
  <ion-list>
    <ion-list-header (click)="hideSummary = !hideSummary" class="padding-list-header">
      <ion-icon size="large" name="analytics"></ion-icon>
      <h3 class="header-list">{{ 'COMMON.SUMMARY' | translate }} {{ nameMaintenance }}</h3>
      <ion-button fill="clear">
        <ion-icon *ngIf="hideSummary" size="small" color="primary" name="caret-down-circle"></ion-icon>
        <ion-icon *ngIf="!hideSummary" size="small" color="primary" name="caret-up-circle"></ion-icon>
      </ion-button>
    </ion-list-header>
    <ion-item *ngIf="!hideSummary" button (click)="showInfoMoto()">
      <p>{{ labelMotoKm }}</p>
    </ion-item>
    <ion-item *ngIf="!hideSummary" button (click)="showInfoReliability()">
      <p>{{ labelReliability }}</p>
      <p slot="end">{{ labelPercent }} %</p>
      <ion-icon slot="end" size="small" [class]="getIconPercent('color')" [color]="getIconPercent('color')" [name]="getIconPercent('icon')"></ion-icon>
    </ion-item>
    <ion-item *ngIf="!hideSummary" button (click)="showInfoMaintenance()">
      <p>{{ labelNextChange }}</p>
    </ion-item>
    <ion-item *ngIf="labelNotRecord !== ''">
      <p>{{ labelNotRecord }}</p>
    </ion-item>
  </ion-list>
  <!-- CHART -->
  <ion-list *ngIf="isCalendar">
    <ion-list-header (click)="refreshChartExpenses()" class="padding-list-header">
      <ion-icon size="large" name="bar-chart"></ion-icon>
      <h3 class="header-list">{{ 'COMMON.EXPENSES' | translate }}</h3>
      <ion-button fill="clear">
        <ion-icon *ngIf="hideGraph" size="small" color="primary" name="caret-down-circle"></ion-icon>
        <ion-icon *ngIf="!hideGraph" size="small" color="primary" name="caret-up-circle"></ion-icon>
      </ion-button>
    </ion-list-header>
    <div *ngIf="!hideGraph">
      <ngx-charts-bar-vertical
        [view]="dashboardMotoExpenses.view"
        [scheme]="dashboardMotoExpenses.colorScheme"
        [results]="dashboardMotoExpenses.data"
        [gradient]="dashboardMotoExpenses.gradient"
        [xAxis]="dashboardMotoExpenses.showXAxis"
        [yAxis]="dashboardMotoExpenses.showYAxis"
        [legend]="dashboardMotoExpenses.showLegend"
        [legendTitle]="dashboardMotoExpenses.legendTitle"
        [legendPosition]="dashboardMotoExpenses.legendPosition"
        [showXAxisLabel]="dashboardMotoExpenses.showXAxisLabel"
        [showYAxisLabel]="dashboardMotoExpenses.showYAxisLabel"
        [showDataLabel]="dashboardMotoExpenses.showDataLabel"
        [xAxisLabel]="dashboardMotoExpenses.xAxisLabel"
        [yAxisLabel]="dashboardMotoExpenses.yAxisLabel">
      </ngx-charts-bar-vertical>
    </div>
  </ion-list>
  <!-- List Records Maintenance -->
  <ion-list *ngIf="isCalendar">
    <ion-list-header (click)="refreshChart()" class="padding-list-header">
      <ion-icon size="large" [name]="getIconReplacement()"></ion-icon>
      <h3 class="header-list">{{ 'COMMON.RECORDS' | translate }} {{ nameMaintenanceElement }}</h3>
      <ion-button fill="clear">
        <ion-icon *ngIf="hideRecords" size="small" color="primary" name="caret-down-circle"></ion-icon>
        <ion-icon *ngIf="!hideRecords" size="small" color="primary" name="caret-up-circle"></ion-icon>
      </ion-button>
    </ion-list-header>
    <ion-item *ngIf="!hideRecords" class="item-border-color-white">
      <ngx-charts-line-chart class="margin-chart"
        [view]="dashboardRecordsMaintenance.view"
        [scheme]="dashboardRecordsMaintenance.colorScheme"
        [results]="dashboardRecordsMaintenance.data"
        [gradient]="dashboardRecordsMaintenance.gradient"
        [xAxis]="dashboardRecordsMaintenance.showXAxis"
        [yAxis]="dashboardRecordsMaintenance.showYAxis"
        [legend]="dashboardRecordsMaintenance.showLegend"
        [legendTitle]="dashboardRecordsMaintenance.legendTitle"
        [legendPosition]="dashboardRecordsMaintenance.legendPosition"
        [showXAxisLabel]="dashboardRecordsMaintenance.showXAxisLabel"
        [showYAxisLabel]="dashboardRecordsMaintenance.showYAxisLabel"
        [xAxisLabel]="dashboardRecordsMaintenance.xAxisLabel"
        [yAxisLabel]="dashboardRecordsMaintenance.yAxisLabel"
        [curve]="linear">
      </ngx-charts-line-chart>
    </ion-item>
    <!-- Items Maintenances -->
    <div *ngIf="!hideRecords">
      <ion-item button *ngFor="let w of wear.listWearReplacement" (click)="showInfo(w)">
        <!-- Ivatar -->
        <ion-avatar slot="start" class="max-width10 avatar-row">
          <ion-icon size="large" class="icon-color" [name]="getIconMaintenance(w)"></ion-icon>
        </ion-avatar>
        <div class="main-div">
          <div>
            <!-- Label -->
            <div>
              <ion-label>{{ (w.descriptionOperation === null ? w.descriptionMaintenance : w.descriptionOperation) }}</ion-label>
            </div>
            <div class="table-row">
              <!-- KMS -->
              <div class="margin-right5 table-row">
                <ion-icon [class]="getClassIcon(w.warningKms, 'icon-row')" [color]="getClassIcon(w.warningKms, '')" size="small"
                [name]="getIconKms(w.warningKms)"></ion-icon>
                <p class="p-row">{{ getKmPercent(w) }} km</p>
              </div>
              <!-- ICON -->
              <div class="icon-notification">
                <ion-icon *ngIf="w.initMaintenance" [color]="getClassIcon(w.warningKms, '')" size="small"
                [class]="getClassIcon(w.warningKms, 'icon-row')" name="navigate-circle"></ion-icon>
                <ion-icon *ngIf="!w.initMaintenance && w.wearMaintenance" [color]="getClassIcon(w.warningKms, '')" size="small"
                  [class]="getClassIcon(w.warningKms, 'icon-row')" name="notifications-circle"></ion-icon>
              </div>
            </div>
              <!-- Progress bar maintenace -->
            <div [class]="getClassProgressbar(w.warningKms, '')">
              <ion-progress-bar [value]="w.percentKms"></ion-progress-bar>
            </div>
            <div *ngIf="w.timeMaintenance > 0" class="table-row">
              <!-- MONTHS -->
              <div class="margin-right5 table-row">
                <ion-icon [color]="getClassIcon(w.warningMonths, '')" size="small"
                  [class]="getClassIcon(w.warningMonths, 'icon-row')" [name]="getIconKms(w.warningMonths)"></ion-icon>
                <p class="p-row">{{ getTimePercent(w) }}</p>
              </div>
            </div>
              <!-- Progress bar maintenace -->
            <div *ngIf="w.timeMaintenance > 0" [class]="getClassProgressbar(w.warningMonths, '')">
              <ion-progress-bar [value]="w.percentMonths"></ion-progress-bar>
            </div>
          </div>
        </div>
      </ion-item>
    </div>
    
  </ion-list>
</ion-content>