<!-- HEADER MODAL -->
<app-header-modal [input]="modalHeaderInput" (output)="eventEmitHeader($event)"></app-header-modal>

<ion-content>
  <!-- RESUME -->
  <ion-list>
    <ion-list-header (click)="hideSummary = !hideSummary" class="padding-list-header">
      <ion-icon size="large" name="analytics"></ion-icon>
      <h3 class="header-list">{{ 'COMMON.SUMMARY' | translate }} {{ nameMaintenance }}</h3>
      <ion-button fill="clear">
        <ion-icon size="small" color="primary" [name]="hideSummary ? 'caret-down-circle' : 'caret-up-circle'"></ion-icon>
      </ion-button>
    </ion-list-header>
    <ion-item *ngIf="!hideSummary" button (click)="showInfoVehicle()">
      <p class="ion-color-info-summary">{{ labelVehicleKm }}</p>
    </ion-item>
    <ion-item *ngIf="!hideSummary" button (click)="showInfoReliability()">
      <p class="ion-color-info-summary">{{ labelReliability }}</p>
      <p class="ion-color-info-summary" slot="end">{{ labelPercent }} %</p>
      <ion-icon slot="end" size="small" [class]="getIconPercent('color')" [color]="getIconPercent('color')" [name]="getIconPercent('icon')"></ion-icon>
    </ion-item>
    <ion-item *ngIf="!hideSummary" button (click)="showInfoMaintenance()">
      <p class="ion-color-info-summary">{{ labelNextChange }}</p>
    </ion-item>
    <ion-item *ngIf="!hideSummary" button (click)="showInfoLifeReplacement()">
      <p class="ion-color-info-summary">{{ labelLifeReplacement }}</p>
    </ion-item>
    <ion-item *ngIf="labelNotRecord !== ''">
      <p class="ion-color-info-summary">{{ labelNotRecord }}</p>
    </ion-item>
  </ion-list>
  <!-- CHART -->
  <ion-list *ngIf="isCalendar">
    <ion-list-header (click)="refreshChartLaborExpenses()" class="padding-list-header">
      <ion-icon size="large" name="bar-chart"></ion-icon>
      <h3 class="header-list">{{ 'COMMON.LABOR_EXPENSE' | translate }}</h3>
      <ion-button fill="clear">
        <ion-icon size="small" color="primary" [name]="hideGraphLabor ? 'caret-down-circle' : 'caret-up-circle'"></ion-icon>
      </ion-button>
    </ion-list-header>
    <div *ngIf="!hideGraphLabor" class="justify-center">
      <ngx-charts-bar-vertical *ngIf="!showSpinner"
        [view]="dashboardVehicleOperationExpenses.view"
        [scheme]="dashboardVehicleOperationExpenses.colorScheme"
        [results]="dashboardVehicleOperationExpenses.data"
        [gradient]="dashboardVehicleOperationExpenses.gradient"
        [xAxis]="dashboardVehicleOperationExpenses.showXAxis"
        [yAxis]="dashboardVehicleOperationExpenses.showYAxis"
        [legend]="dashboardVehicleOperationExpenses.showLegend"
        [legendTitle]="dashboardVehicleOperationExpenses.legendTitle"
        [legendPosition]="dashboardVehicleOperationExpenses.legendPosition"
        [showXAxisLabel]="dashboardVehicleOperationExpenses.showXAxisLabel"
        [showYAxisLabel]="dashboardVehicleOperationExpenses.showYAxisLabel"
        [showDataLabel]="dashboardVehicleOperationExpenses.showDataLabel"
        [xAxisLabel]="dashboardVehicleOperationExpenses.xAxisLabel"
        [yAxisLabel]="dashboardVehicleOperationExpenses.yAxisLabel">
      </ngx-charts-bar-vertical>
      <div *ngIf="showSpinner" [style.height.px]="dashboardVehicleOperationExpenses.view[1]" class="div-spinner">
        <ion-spinner class="spinner" name="lines"></ion-spinner>
      </div>
    </div>
  </ion-list>
  <ion-list *ngIf="isCalendar">
    <ion-list-header (click)="refreshChartReplacementExpenses()" class="padding-list-header">
      <ion-icon size="large" name="bar-chart"></ion-icon>
      <h3 class="header-list">{{ 'COMMON.REPLACEMENT_EXPENSE' | translate }}</h3>
      <ion-button fill="clear">
        <ion-icon size="small" color="primary" [name]="hideGraphReplacement ? 'caret-down-circle' : 'caret-up-circle'"></ion-icon>
      </ion-button>
    </ion-list-header>
    <div *ngIf="!hideGraphReplacement" class="justify-center">
      <ngx-charts-bar-vertical *ngIf="!showSpinner"
        [view]="dashboardVehicleReplacementExpenses.view"
        [scheme]="dashboardVehicleReplacementExpenses.colorScheme"
        [results]="dashboardVehicleReplacementExpenses.data"
        [gradient]="dashboardVehicleReplacementExpenses.gradient"
        [xAxis]="dashboardVehicleReplacementExpenses.showXAxis"
        [yAxis]="dashboardVehicleReplacementExpenses.showYAxis"
        [legend]="dashboardVehicleReplacementExpenses.showLegend"
        [legendTitle]="dashboardVehicleReplacementExpenses.legendTitle"
        [legendPosition]="dashboardVehicleReplacementExpenses.legendPosition"
        [showXAxisLabel]="dashboardVehicleReplacementExpenses.showXAxisLabel"
        [showYAxisLabel]="dashboardVehicleReplacementExpenses.showYAxisLabel"
        [showDataLabel]="dashboardVehicleReplacementExpenses.showDataLabel"
        [xAxisLabel]="dashboardVehicleReplacementExpenses.xAxisLabel"
        [yAxisLabel]="dashboardVehicleReplacementExpenses.yAxisLabel">
      </ngx-charts-bar-vertical>
      <div *ngIf="showSpinner" [style.height.px]="dashboardVehicleReplacementExpenses.view[1]" class="div-spinner">
        <ion-spinner class="spinner" name="lines"></ion-spinner>
      </div>
    </div>
  </ion-list>
  <!-- List Records Maintenance -->
  <ion-list *ngIf="isCalendar">
    <ion-list-header (click)="refreshChart()" class="padding-list-header">
      <ion-icon size="large" [name]="iconMaintenanceElement"></ion-icon>
      <h3 class="header-list">{{ 'COMMON.RECORDS' | translate }} {{ nameMaintenanceElement }}</h3>
      <ion-button fill="clear">
        <ion-icon size="small" color="primary" [name]="hideRecords ? 'caret-down-circle' : 'caret-up-circle'"></ion-icon>
      </ion-button>
    </ion-list-header>
    <ion-item *ngIf="!hideRecords" class="item-border-color-white">
      <ngx-charts-line-chart class="margin-chart justify-center"
        [view]="dashboardRecordsMaintenance.view"
        [scheme]="dashboardRecordsMaintenance.colorScheme"
        [results]="dashboardRecordsMaintenance.data"
        [gradient]="dashboardRecordsMaintenance.gradient"
        [xAxis]="dashboardRecordsMaintenance.showXAxis"
        [yAxis]="dashboardRecordsMaintenance.showYAxis"
        [legend]="dashboardRecordsMaintenance.showLegend"
        [legendTitle]="dashboardRecordsMaintenance.legendTitle"
        [legendPosition]="dashboardRecordsMaintenance.legendPosition"
        [showXAxisLabel]="dashboardRecordsMaintenance.showXAxisLabel"
        [showYAxisLabel]="dashboardRecordsMaintenance.showYAxisLabel"
        [xAxisLabel]="dashboardRecordsMaintenance.xAxisLabel"
        [yAxisLabel]="dashboardRecordsMaintenance.yAxisLabel"
        [curve]="linear">
      </ngx-charts-line-chart>
    </ion-item>
    <!-- Items Maintenances -->
    <div *ngIf="!hideRecords">
      <ion-item button *ngFor="let wm of wear.listWearMaintenance" (click)="showInfo(wm)">
        <!-- Ivatar -->
        <ion-avatar slot="start" class="max-width10 avatar-row">
          <ion-icon size="large" class="icon-color" [name]="wm.iconMaintenance"></ion-icon>
        </ion-avatar>
        <div class="main-div">
          <div>
            <!-- Label -->
            <div>
              <ion-label>{{ (wm.listWearReplacement[0].descriptionOperation === null ?
                wm.descriptionMaintenance : wm.listWearReplacement[0].descriptionOperation) }}</ion-label>
            </div>
            <div class="table-row">
              <!-- KMS -->
              <div class="margin-right5 table-row">
                <ion-icon [class]="'icon-row' + wm.listWearReplacement[0].warningKmsIconClass" 
                  [color]="wm.listWearReplacement[0].warningKmsIconClass" size="small"
                  [name]="wm.listWearReplacement[0].warningKmsIcon"></ion-icon>
                <p class="p-row">{{ getKmPercent(wm.listWearReplacement[0]) }} {{measure.value}}</p>
              </div>
              <!-- ICON -->
              <div class="icon-notification">
                <ion-icon *ngIf="wm.initMaintenance" [color]="wm.listWearReplacement[0].warningKmsIconClass" size="small"
                [class]="'icon-row' + wm.listWearReplacement[0].warningKmsIconClass" name="navigate-circle"></ion-icon>
                <ion-icon *ngIf="!wm.initMaintenance && wm.wearMaintenance"
                  [color]="wm.listWearReplacement[0].warningKmsIconClass" size="small"
                  [class]="'icon-row' + wm.listWearReplacement[0].warningKmsIconClass" name="notifications-circle"></ion-icon>
              </div>
            </div>
              <!-- Progress bar maintenace -->
            <div [class]="wm.listWearReplacement[0].warningKmsProgressBarIcon">
              <ion-progress-bar [value]="wm.listWearReplacement[0].percentKms"></ion-progress-bar>
            </div>
            <div *ngIf="wm.timeMaintenance > 0" class="table-row">
              <!-- MONTHS -->
              <div class="margin-right5 table-row">
                <ion-icon [color]="wm.listWearReplacement[0].warningMonthsIconClass" size="small"
                  [class]="'icon-row' + wm.listWearReplacement[0].warningMonthsIconClass" [name]="wm.listWearReplacement[0].warningMonthsIcon"></ion-icon>
                <p class="p-row">{{ getTimePercent(wm.listWearReplacement[0]) }}</p>
              </div>
            </div>
              <!-- Progress bar maintenace -->
            <div *ngIf="wm.timeMaintenance > 0" [class]="wm.listWearReplacement[0].warningMonthsProgressBarIcon">
              <ion-progress-bar [value]="wm.listWearReplacement[0].percentMonths"></ion-progress-bar>
            </div>
          </div>
        </div>
      </ion-item>
    </div>
    
  </ion-list>
</ion-content>