
<!-- SKELETON LOADER INITAL -->
<ion-header *ngIf="!loadedHeader">
  <app-header-skeleton [input]="input.itemsHeader"></app-header-skeleton>
</ion-header>

<ion-content *ngIf="!loadedBody">
  <ion-grid *ngIf="input.card.activated">
    <ion-row>
      <ion-col *ngFor="let i of input.card.items" 
          [sizeLg]="input.card.sizelg" [sizeMd]="input.card.sizemd" [sizeSm]="input.card.sizesm" [sizeXs]="input.card.sizexs">
        <ion-card>
          <ion-list>
            <app-body-skeleton [input]="input.body"></app-body-skeleton>
          </ion-list>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list *ngIf="!input.card.activated">
    <app-body-skeleton [input]="input.body"></app-body-skeleton>
  </ion-list>
</ion-content>
