
<!-- SKELETON LOADER INITAL -->
<ion-header *ngIf="!loadedHeader">
  <ion-toolbar>
    <ion-title style="padding-left: 20%; padding-right: 20%;">
      <ion-skeleton-text animated></ion-skeleton-text>
    </ion-title>
  </ion-toolbar>
  <ion-grid class="skeleton-background segment-button-fixed">
    <ion-row>
      <ion-col *ngFor="let col of input.itemsHeader; let i = index" [size]="col" style="text-align: center;">
        <ion-spinner *ngIf="i % 2 === 0" name="lines-small" color="medium"></ion-spinner>
        <ion-skeleton-text *ngIf="i % 2 !== 0" animated 
          [ngClass]="{ 'skeleton-width-par': input.itemsHeader.length > 2, 'skeleton-width-one': input.itemsHeader.length <= 2}"></ion-skeleton-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content *ngIf="!loadedBody">
  <ion-list>
    <app-body-skeleton [input]="input.body"></app-body-skeleton>
  </ion-list>
</ion-content>
