<ion-header>
    <ion-toolbar>
        <!-- Title -->
        <ion-title *ngIf="this.modalInputModel.isCreate" class="title-header">{{ 'AddNewConfiguration' | translate }}</ion-title>
        <ion-title *ngIf="!this.modalInputModel.isCreate" class="title-header">{{ 'EditConfiguration' | translate }}</ion-title>
        <!-- Button Close -->
        <ion-button fill="clear" (click)="closeModal()" class="btn-header">
            <ion-icon size="large" class="btn-color" name="close-circle-outline"></ion-icon>
        </ion-button>
    </ion-toolbar>
</ion-header>
  
<ion-content>
    <!-- Form -->
    <form #formAddConfiguration name="formAddConfiguration" (ngSubmit)="saveData(formAddConfiguration)" novalidate>
      <ion-list lines="full">
        <!-- Input control -->
        <ion-item>
          <ion-label position="stacked">
            <ion-text>{{ 'NAME' | translate }}</ion-text>
            <ion-text color="danger">*</ion-text>
            <ion-icon *ngIf="this.submited && !isValidName(formAddConfiguration)" class="padding-left20" 
                color="danger" size="small" name="alert"></ion-icon>
            <ion-text *ngIf="this.submited && !isValidName(formAddConfiguration)" 
                color="danger">{{ 'AddName' | translate }}</ion-text>
          </ion-label>
          <ion-input #configurationName name="configurationName" placeholder="Yamaha" required type="text" 
            [(ngModel)]="configuration.name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">
            <ion-text>{{ 'DESCRIPTION' | translate }}</ion-text>
            <ion-text color="danger">*</ion-text>
            <ion-icon *ngIf="this.submited && !isValidDescription(formAddConfiguration)" class="padding-left20" 
                color="danger" size="small" name="alert"></ion-icon>
            <ion-text *ngIf="this.submited && !isValidDescription(formAddConfiguration)" 
                color="danger">{{ 'AddDescription' | translate }}</ion-text>
          </ion-label>
          <ion-input #configurationDescription name="configurationDescription" placeholder="--" required type="text" 
            [(ngModel)]="configuration.description"></ion-input>
        </ion-item>
      </ion-list>
      <!-- Buton Save -->
      <ion-button expand="block" type="submit">
        <ion-text>{{ 'SAVE' | translate }}</ion-text>
        <ion-icon name="save" class="padding-left12"></ion-icon>
      </ion-button>
    </form>
</ion-content>