<ion-header>
    <ion-toolbar>
        <!-- Title -->
        <ion-title *ngIf="this.modalInputModel.isCreate" class="align-center padding-left30">{{ 'PAGE_CONFIGURATION.AddNewConfiguration' | translate }}</ion-title>
        <ion-title *ngIf="!this.modalInputModel.isCreate" class="align-center padding-left30">{{ 'PAGE_CONFIGURATION.EditConfiguration' | translate }}</ion-title>
        <!-- Button Close -->
        <ion-button fill="clear" slot="end" (click)="closeModal()" class="btn-width">
            <ion-icon size="large" class="btn-color" name="close-circle-outline"></ion-icon>
        </ion-button>
        <!-- <div class="table-row">
          <div class="title-header padding-left30">
            <ion-title *ngIf="this.modalInputModel.isCreate" >{{ 'PAGE_CONFIGURATION.AddNewConfiguration' | translate }}</ion-title>
            <ion-title *ngIf="!this.modalInputModel.isCreate">{{ 'PAGE_CONFIGURATION.EditConfiguration' | translate }}</ion-title>
          </div>
          <div class="justify-end">
            <ion-button fill="clear" (click)="closeModal()" class="btn-width">
              <ion-icon size="large" class="btn-color" name="close-circle-outline"></ion-icon>
            </ion-button>
          </div>
        </div> -->
    </ion-toolbar>
</ion-header>
  
<ion-content>
    <!-- Form -->
    <form #formAddConfiguration name="formAddConfiguration" (ngSubmit)="saveData(formAddConfiguration)" novalidate>
      <ion-list lines="full" class="margin-bottom35">
        <!-- Input control -->
        <ion-item>
          <ion-label position="stacked">
            <ion-text>{{ 'COMMON.NAME' | translate }}</ion-text>
            <ion-text color="danger">*</ion-text>
            <ion-icon *ngIf="this.submited && !isValidName(formAddConfiguration)" class="padding-left20" 
                color="danger" size="small" name="alert"></ion-icon>
            <ion-text *ngIf="this.submited && !isValidName(formAddConfiguration)" 
                color="danger">{{ 'PAGE_CONFIGURATION.AddName' | translate }}</ion-text>
          </ion-label>
          <ion-input #configurationName name="configurationName" placeholder="Yamaha" required type="text" 
            [(ngModel)]="configuration.name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">
            <ion-text>{{ 'COMMON.DESCRIPTION' | translate }}</ion-text>
            <ion-text color="danger">*</ion-text>
            <ion-icon *ngIf="this.submited && !isValidDescription(formAddConfiguration)" class="padding-left20" 
                color="danger" size="small" name="alert"></ion-icon>
            <ion-text *ngIf="this.submited && !isValidDescription(formAddConfiguration)" 
                color="danger">{{ 'AddDescription' | translate }}</ion-text>
          </ion-label>
          <ion-input #configurationDescription name="configurationDescription" placeholder="--" required type="text" 
            [(ngModel)]="configuration.description"></ion-input>
        </ion-item>
        <ion-item *ngFor="let m of maintenances; let i = index">
          <!-- Icons -->
          <ion-avatar slot="start" class="max-width10">
            <ion-icon size="large" class="icon-color" [name]="this.getIconMaintenance(m)"></ion-icon>
          </ion-avatar>
          <!-- Labels -->
          <ion-label>
            <h2>{{ m.description }}</h2>
            <h3>{{ m.maintenanceElement.name }}</h3>
            <p *ngIf="m.time > 0">{{ m.km }} km / {{ m.time }} {{ 'COMMON.MONTHS' | translate }}</p>
            <p *ngIf="m.time <= 0">{{ m.km }} km </p>
          </ion-label>
          <!-- Toggle -->
          <ion-toggle *ngIf="m.master" [name]="'configurationMaintenance' + i" color="primary" 
            [(ngModel)]="toggleMaintenaces[i]"></ion-toggle>
          <ion-toggle *ngIf="!m.master" [name]="'configurationMaintenance' + i" color="secondary" 
            [(ngModel)]="toggleMaintenaces[i]"></ion-toggle>
        </ion-item>
      </ion-list>
      <!-- Buton Save -->
      <ion-button *ngIf="configuration.master" class="button-circle" type="submit" [disabled]="configuration.master">
        <ion-icon name="lock-closed"></ion-icon>
      </ion-button>
      <ion-button *ngIf="!configuration.master" class="button-circle" type="submit">
        <ion-icon name="save"></ion-icon>
      </ion-button>
    </form>
</ion-content>