<ion-header>
    <ion-toolbar>
        <!-- Button show filter -->
        <ion-button slot="start" fill="clear" (click)="showPopover($event)" class="btn-width-header">
            <ion-icon size="large" class="btn-color" name="filter"></ion-icon>
        </ion-button>
        <!-- Title -->
        <ion-title class="align-center">{{ 'COMMON.CHARTS' | translate }}</ion-title>
        <!-- Button Close -->
        <ion-button fill="clear" (click)="closeModal()" class="btn-width-header" slot="end">
        <ion-icon size="large" class="btn-color" name="close-circle"></ion-icon>
        </ion-button>
    </ion-toolbar>
</ion-header>


<ion-content>
    <div class="info-main padding-info" *ngIf="dashboardVehicleExpenses.data.length === 0 && dashboardOpTypeExpenses.data.length === 0">
        <div class="p-color">
            <ion-icon class="font-size26" name="bar-chart"></ion-icon>
            <h3 class="info-text-notification-empty padding-info-title">{{ 'ALERT.NoDataFound' | translate }}</h3>
        </div>
    </div>
    <div *ngIf="dashboardVehicleExpenses.data.length > 0 || dashboardOpTypeExpenses.data.length > 0">
        <ion-list-header class="padding-list-header">
            <ion-icon *ngIf="isParentPageVehicle()" size="large" name="home"></ion-icon>
            <h3 *ngIf="isParentPageVehicle()" class="header-list">{{ 'PAGE_VEHICLE.ExpensesPerVehicle' | translate }}</h3>
            <ion-icon *ngIf="isParentPageOperation()" size="large" [name]="getIconVehicle()"></ion-icon>
            <h3 *ngIf="isParentPageOperation()" class="header-list">{{ 'COMMON.EXPENSES' | translate }} {{ vehicleModel }}</h3>
        </ion-list-header>
        <ngx-charts-bar-vertical class="justify-center"
        [view]="dashboardVehicleExpenses.view"
        [scheme]="dashboardVehicleExpenses.colorScheme"
        [results]="dashboardVehicleExpenses.data"
        [gradient]="dashboardVehicleExpenses.gradient"
        [xAxis]="dashboardVehicleExpenses.showXAxis"
        [yAxis]="dashboardVehicleExpenses.showYAxis"
        [legend]="dashboardVehicleExpenses.showLegend"
        [legendTitle]="dashboardVehicleExpenses.legendTitle"
        [legendPosition]="dashboardVehicleExpenses.legendPosition"
        [showXAxisLabel]="dashboardVehicleExpenses.showXAxisLabel"
        [showYAxisLabel]="dashboardVehicleExpenses.showYAxisLabel"
        [showDataLabel]="dashboardVehicleExpenses.showDataLabel"
        [xAxisLabel]="dashboardVehicleExpenses.xAxisLabel"
        [yAxisLabel]="dashboardVehicleExpenses.yAxisLabel">
        </ngx-charts-bar-vertical>
        <ion-list-header class="padding-list-header">
            <ion-icon size="large" name="construct"></ion-icon>
            <h3 class="header-list">{{ 'PAGE_VEHICLE.ExpensesPerOperationType' | translate }}</h3>
        </ion-list-header>
        <ngx-charts-pie-chart class="justify-center"
            [view]="dashboardOpTypeExpenses.view"
            [scheme]="dashboardOpTypeExpenses.colorScheme"
            [results]="dashboardOpTypeExpenses.data"
            [gradient]="dashboardOpTypeExpenses.gradient"
            [legend]="dashboardOpTypeExpenses.showLegend"
            [legendTitle]="dashboardOpTypeExpenses.legendTitle"
            [legendPosition]="dashboardOpTypeExpenses.legendPosition"
            [labels]="dashboardOpTypeExpenses.showLabels"
            [doughnut]="dashboardOpTypeExpenses.isDoughnut">
        </ngx-charts-pie-chart>
    </div>
</ion-content>