
@for (i of input.items; track $index) {
  <ion-item>
    @if (input.avatar) {
      <ion-avatar slot="start"><ion-skeleton-text animated></ion-skeleton-text></ion-avatar>
    }
    @for (j of input.itemsLabel; track $index) {
      <ion-label>
        @if (j.h3Width !== 0) {
          <h3><ion-skeleton-text animated [style]="'width:' + j.h3Width + '%'"></ion-skeleton-text></h3>
        }
        @if (j.h2Width !== 0) {
          <h2><ion-skeleton-text animated [style]="'width:' + j.h2Width + '%'"></ion-skeleton-text></h2>
        }
        @for (k of j.pWidth; track $index) {
          <p><ion-skeleton-text animated [style]="'width:' + k + '%'"></ion-skeleton-text></p>
        }
        @if (j.divWidth !== 0) {
          <div class="table-row" [style]="'width:' + j.divWidth + '%'">
            @for (k of j.divPWidth; track $index) {
              <p class="main-item-div"><ion-skeleton-text animated [style]="'width:' + k + '%'"></ion-skeleton-text></p>
            }
          </div>
        }
      </ion-label>
    }
  </ion-item>
}
