<ion-header>
    <ion-toolbar>
        <!-- Title -->
        <ion-title *ngIf="this.modalInputModel.isCreate" color="text-header" class="align-center padding-left30">{{ 'PAGE_CONFIGURATION.AddNewReplacement' | translate }}</ion-title>
        <ion-title *ngIf="!this.modalInputModel.isCreate" color="text-header" class="align-center padding-left30">{{ 'PAGE_CONFIGURATION.EditReplacement' | translate }}</ion-title>
        <!-- Button Close -->
        <ion-button fill="clear" (click)="closeModal()" class="btn-width-header" slot="end">
            <ion-icon size="large" class="btn-color" name="close-circle"></ion-icon>
        </ion-button>
    </ion-toolbar>
</ion-header>
  
<ion-content>
    <!-- Form -->
    <form #formAddReplacement name="formAddReplacement" (ngSubmit)="saveData(formAddReplacement)" novalidate>
      <ion-list lines="full">
        <!-- Input control -->
        <ion-item>
            <ion-label position="stacked">
              <ion-text>{{ 'COMMON.NAME' | translate }}</ion-text>
              <ion-text color="danger">*</ion-text>
              <ion-icon *ngIf="this.submited && !isValidName(formAddReplacement)" class="padding-left20" 
                  color="danger" size="small" name="alert"></ion-icon>
              <ion-text *ngIf="this.submited && !isValidName(formAddReplacement)" 
                  color="danger">{{ 'PAGE_CONFIGURATION.AddName' | translate }}</ion-text>
            </ion-label>
            <ion-input #replacementName name="replacementName" placeholder="--" autocapitalize required type="text" 
              [(ngModel)]="maintenanceElement.name"></ion-input>
          </ion-item>
        <ion-item>
          <ion-label position="stacked">
            <ion-text>{{ 'COMMON.DESCRIPTION' | translate }}</ion-text>
            <ion-text color="danger">*</ion-text>
            <ion-icon *ngIf="this.submited && !isValidDescription(formAddReplacement)" class="padding-left20" 
                color="danger" size="small" name="alert"></ion-icon>
            <ion-text *ngIf="this.submited && !isValidDescription(formAddReplacement)" 
                color="danger">{{ 'AddDescription' | translate }}</ion-text>
          </ion-label>
          <ion-input #replacementDescription name="replacementDescription" autocapitalize placeholder="--" required type="text" 
            [(ngModel)]="maintenanceElement.description"></ion-input>
        </ion-item>
      </ion-list>
      <!-- Buton Save -->
      <ion-button *ngIf="maintenanceElement.master" class="button-circle" type="submit" [disabled]="maintenanceElement.master">
        <ion-icon name="lock-closed"></ion-icon>
      </ion-button>
      <ion-button *ngIf="!maintenanceElement.master" class="button-circle" type="submit">
        <ion-icon name="save"></ion-icon>
      </ion-button>
    </form>
</ion-content>