<ion-content>
    <div class="info-content">
        <div class="info-main">
            <div *ngIf="isMotoEmpty()">
                <ion-icon size="large" name="bicycle"></ion-icon>
                <h2 class="margin-top5">{{ 'ALERT.MotoEmpty' | translate }}</h2>
            </div>
            <div *ngIf="isOperationEmpty()">
                <ion-icon size="large" name="construct"></ion-icon>
                <h2 class="margin-top5">{{ 'ALERT.OperationEmpty' | translate }}</h2>
            </div>
            <div *ngIf="isNotificationPageEmpty()">
                <ion-icon size="large" name="cog"></ion-icon>
                <h2 class="margin-top5">{{ 'ALERT.ConfigurationEmpty' | translate }}</h2>
            </div>
        </div>
        <div>
            <div class="info-tab">
                <div [ngClass]="{'info-icon align-right': true, 'dissapear': !isMotoEmpty()}">
                    <p class="info-p-right">{{ 'ALERT.AddMoto' | translate }}</p>
                </div>
                <div [ngClass]="{'info-icon': true, 'dissapear': !isOperationEmpty() && !isNotificationEmpty()}">
                    <p class="info-p-left" *ngIf="isOperationEmpty()">{{ 'ALERT.AddOperation' | translate }}</p>
                    <p class="info-p-right margin-right10" *ngIf="isNotificationEmpty()">{{ 'ALERT.AddConfiguration' | translate }}</p>
                </div>
            </div>
            <div class="info-tab">
                <div class="info-icon dissapear">
                    <ion-icon size="large" name="arrow-down-circle"></ion-icon>
                </div>
                <div [ngClass]="{'info-icon': true, 'dissapear': !isMotoEmpty()}">
                    <ion-icon size="large" name="arrow-down-circle"></ion-icon>
                </div>
                <div [ngClass]="{'info-icon': true, 'dissapear': !isOperationEmpty()}">
                    <ion-icon size="large" name="arrow-down-circle"></ion-icon>
                </div>
                <div [ngClass]="{'info-icon': true, 'dissapear': !isNotificationEmpty()}">
                    <ion-icon size="large" name="arrow-down-circle"></ion-icon>
                </div>
            </div>
        </div>
    </div>
</ion-content>
