<app-header *ngIf="loadedHeader" [input]="headerInput" (output)="eventEmitHeader($event)"></app-header>

<ion-content *ngIf="loadedBody">
  <!-- INFO -->
  <app-info *ngIf="vehicles.length === 0" [inputInfo]="input"></app-info>
  <!-- LIST -->
  <ion-list *ngIf="vehicles.length > 0" class="segment-top margin-bottom45">
    <ion-item-sliding *ngFor="let v of vehicles" #slidingItem>
      <!-- SLIDING START -->
      <ion-item-options side="start">
        <ion-item-option [ngClass]="{'day-circle-config-danger': v.active, 'day-circle-config-blue': !v.active}"
          (click)="activateNotificationVehicle(slidingItem, v)">
          <ion-icon slot="icon-only" name="stats-chart"></ion-icon>
        </ion-item-option>
      </ion-item-options>
      <ion-item button [ngClass]="{ 'disable-item-color': !v.active }">
        <!-- Icons -->
        <ion-avatar slot="start" class="max-width10" (click)="openUpdateVehicleModal(v)">
          <ion-icon size="large" [ngClass]="{ 'icon-color disable-item-color': !v.active, 'icon-color': v.active }" [name]="v.vehicleType.icon"></ion-icon>
        </ion-avatar>
        <!-- Labels -->
        <ion-label class="min-width40 label-event-force" (click)="openUpdateVehicleModal(v)">
          <h2>{{ v.brand }}</h2>
          <h3>{{ v.model }}</h3>
          <p [ngClass]="{ 'disable-item-color': !v.active }">{{ v.datePurchase | dateFormatCalendarPipe }}</p>
        </ion-label>
        <ion-label class="padding-left10 label-event-force" (click)="openUpdateVehicleModal(v)">
          <h3>{{ v.km }} {{measure.value}}</h3>
          <h4 *ngIf="v.km !== v.kmEstimated" class="disable-item-color">{{ v.kmEstimated }} {{measure.value}}</h4>
          <ion-label class="row-block flex-items-center">
            <ion-icon name="cog"></ion-icon>
            <p [ngClass]="{ 'icon-label margin-top-conf disable-item-color': !v.active, 'icon-label margin-top-conf': v.active }">{{ v.configuration.name }}</p>
          </ion-label>
        </ion-label>
        <!-- Buttons edit / delete -->
        <div class="align-right fix-width69">
          <ion-button class="btn-width-row" fill="clear" (click)="deleteVehicle(v)">
            <ion-icon size="large" class="btn-color" name="trash"></ion-icon>
          </ion-button>
        </div>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button (click)="openCreateVehicleModal()">
      <ion-icon name="add-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<!-- SKELETON -->
<app-skeleton class="max-height" *ngIf="!loadedHeader || !loadedBody" 
  [loadedHeader]="loadedHeader" 
  [loadedBody]="loadedBody" 
  [input]="skeletonInput" 
  (loadedHeaderOutput)="changeLoadedHeader($event)" 
  (loadedBodyOutput)="changeLoadedBody($event)"></app-skeleton>
