<ion-header [hidden]="!loaded">
  <ion-toolbar>
    <!-- Button chart -->
    <ion-button class="btn-width-header" slot="start" fill="clear" (click)="openDashboardVehicle()">
      <ion-icon size="large" [name]="iconNameHeaderLeft"></ion-icon>
    </ion-button>
    <!-- Tittle -->
    <ion-title color="text-header" class="align-center">{{ 'COMMON.GARAGE' | translate }}</ion-title>
    <!-- Button filter -->
    <ion-button slot="end" fill="clear" (click)="openInfoVehicle()" class="btn-width-header">
      <ion-icon size="large" name="analytics"></ion-icon>
    </ion-button>
  </ion-toolbar>
  <!-- SEGMENT -->
  <ion-segment class="segment-button-fixed" [value]="1">
    <ion-segment-button value="1" layout="icon-start">
      <ion-label>{{ 'PAGE_VEHICLE.YOURS_VEHICLES' | translate }}</ion-label>
      <ion-icon size="small" name="home"></ion-icon>
    </ion-segment-button>
  </ion-segment>
</ion-header>
<ion-content [hidden]="!loaded">
  <!-- INFO -->
  <app-info *ngIf="vehicles.length === 0" [inputInfo]="input"></app-info>
  <!-- LIST -->
  <ion-list *ngIf="vehicles.length > 0" class="segment-top margin-bottom45">
    <ion-item-sliding *ngFor="let v of vehicles" #slidingItem>
      <!-- SLIDING START -->
      <ion-item-options side="start">
        <ion-item-option [ngClass]="{'day-circle-config-danger': v.active, 'day-circle-config-blue': !v.active}"
          (click)="activateNotificationVehicle(slidingItem, v)">
          <ion-icon slot="icon-only" name="stats-chart"></ion-icon>
        </ion-item-option>
      </ion-item-options>
      <ion-item button [ngClass]="{ 'disable-item-color': !v.active }">
        <!-- Icons -->
        <ion-avatar slot="start" class="max-width10" (click)="openVehicleModal(v, false)">
          <ion-icon size="large" [ngClass]="{ 'icon-color disable-item-color': !v.active, 'icon-color': v.active }" [name]="v.vehicleType.icon"></ion-icon>
        </ion-avatar>
        <!-- Labels -->
        <ion-label class="min-width40 label-event-force" (click)="openVehicleModal(v, false)">
          <h2>{{ v.brand }}</h2>
          <h3>{{ v.model }}</h3>
          <p [ngClass]="{ 'disable-item-color': !v.active }">{{ v.datePurchase | dateFormatCalendarPipe }}</p>
        </ion-label>
        <ion-label class="padding-left10 label-event-force" (click)="openVehicleModal(v, false)">
          <h3>{{ v.km }} {{measure.value}}</h3>
          <h4 *ngIf="v.km !== v.kmEstimated" class="disable-item-color">{{ v.kmEstimated }} {{measure.value}}</h4>
          <ion-label class="row-block flex-items-center">
            <ion-icon name="cog"></ion-icon>
            <p [ngClass]="{ 'icon-label margin-top-conf disable-item-color': !v.active, 'icon-label margin-top-conf': v.active }">{{ v.configuration.name }}</p>
          </ion-label>
        </ion-label>
        <!-- Buttons edit / delete -->
        <div class="align-right fix-width69">
          <ion-button class="btn-width-row" fill="clear" (click)="deleteVehicle(v)">
            <ion-icon size="large" class="btn-color" name="trash"></ion-icon>
          </ion-button>
        </div>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button (click)="openVehicleModal()">
      <ion-icon name="duplicate"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<!-- SKELETON LOADER INITAL -->
<ion-header *ngIf="!loaded">
  <app-header-skeleton [input]="[4, 8]"></app-header-skeleton>
</ion-header>

<ion-content *ngIf="!loaded">
  <ion-list>
    <ion-item *ngFor="let i of [1, 2, 3]">
      <ion-avatar slot="start"><ion-skeleton-text animated></ion-skeleton-text></ion-avatar>
      <ion-label>
        <h3><ion-skeleton-text animated style="width: 70%"></ion-skeleton-text></h3>
        <h2><ion-skeleton-text animated style="width: 30%"></ion-skeleton-text></h2>
        <p><ion-skeleton-text animated style="width: 60%"></ion-skeleton-text></p>
      </ion-label>
      <ion-label>
        <p><ion-skeleton-text animated style="width: 45%"></ion-skeleton-text></p>
        <p><ion-skeleton-text animated style="width: 60%"></ion-skeleton-text></p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
