<ion-header [hidden]="!loaded">
  <ion-toolbar>
    <!-- Button chart -->
    <ion-button class="btn-width-header position-fixed margin-top0 index-top"
      *ngIf="this.vehicles.length > 0" slot="start" fill="clear" (click)="openDashboardVehicle()">
      <ion-icon size="large" name="bar-chart"></ion-icon>
    </ion-button>
    <!-- Button info -->
    <ion-button class="btn-width-header position-fixed margin-top-5 index-top"
      *ngIf="this.vehicles.length === 0" fill="clear" (click)="showModalInfo()">
      <ion-icon size="large" class="btn-color" name="information-circle"></ion-icon>
    </ion-button>
    <!-- Tittle -->
    <ion-title class="align-center">{{ 'COMMON.GARAGE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [hidden]="!loaded">
  <ion-list>
    <ion-list-header class="padding-list-header">
      <!-- Title -->
      <ion-icon size="large" name="home"></ion-icon>
      <h3 class="header-list">{{ 'PAGE_VEHICLE.YOURS_VEHICLES' | translate }}</h3>
      <!-- Button create -->
      <ion-button class="btn-width-list" fill="clear" (click)="openVehicleModal()">
        <ion-icon size="large" class="btn-color" name="add-circle"></ion-icon>
      </ion-button>
    </ion-list-header>
    <div *ngIf="vehicles.length === 0" class="info-content">
      <div class="info-main">
          <div>
              <ion-icon size="large" name="home"></ion-icon>
              <h2 class="margin-top5">{{ 'ALERT.VehicleEmpty' | translate }}</h2>
          </div>
      </div>
    </div>
    <ion-item button *ngFor="let m of vehicles" [ngClass]="{ 'disable-item-color': !m.active }">
      <!-- Icons -->
      <ion-avatar slot="start" class="max-width10" (click)="openVehicleModal(m, false)">
        <ion-icon size="large" [ngClass]="{ 'icon-color disable-item-color': !m.active, 'icon-color': m.active }" [name]="getIconVehicle(m)"></ion-icon>
      </ion-avatar>
      <!-- Labels -->
      <ion-label class="min-width40 label-event-force" (click)="openVehicleModal(m, false)">
        <h2>{{ m.brand }}</h2>
        <h3>{{ m.model }}</h3>
        <p [ngClass]="{ 'disable-item-color': !m.active }">{{ m.datePurchase | dateFormatCalendarPipe }}</p>
      </ion-label>
      <ion-label class="padding-left10 label-event-force" (click)="openVehicleModal(m, false)">
        <h3>{{ m.km }} {{measure.value}}</h3>
        <ion-label class="row-block flex-items-center">
          <ion-icon name="cog"></ion-icon>
          <p [ngClass]="{ 'icon-label disable-item-color': !m.active, 'icon-label': m.active }">{{ m.configuration.name }}</p>
        </ion-label>
      </ion-label>
      <!-- Buttons edit / delete -->
      <ion-label class="align-right fix-width69">
        <ion-label>
          <ion-button class="btn-width-row" fill="clear" routerLink="/tabs/operationTab" routerDirection="root"
          (click)="changeFilterOperation(m.id)">
            <ion-icon size="large" class="btn-color" name="eye"></ion-icon>
          </ion-button>
        </ion-label>
        <ion-label>
          <ion-button class="btn-width-row" fill="clear" (click)="deleteVehicle(m)">
            <ion-icon size="large" class="btn-color" name="trash"></ion-icon>
          </ion-button>
        </ion-label>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<!-- SKELETON LOADER INITAL -->
<ion-header *ngIf="!loaded">
  <ion-toolbar>
    <ion-title style="padding-left: 20%; padding-right: 20%;">
      <ion-skeleton-text animated></ion-skeleton-text>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="!loaded">
  <ion-list>
    <ion-list-header class="padding-list-header">
      <ion-label style="width: 85%">
        <ion-skeleton-text animated style="width: 85%"></ion-skeleton-text>
      </ion-label>
      <ion-label>
        <ion-spinner name="lines-small" color="medium" slot="end"></ion-spinner>
      </ion-label>
    </ion-list-header>
    <ion-item *ngFor="let i of [1, 2]">
      <ion-avatar slot="start"><ion-skeleton-text animated></ion-skeleton-text></ion-avatar>
      <ion-label>
        <h3><ion-skeleton-text animated style="width: 70%"></ion-skeleton-text></h3>
        <h2><ion-skeleton-text animated style="width: 30%"></ion-skeleton-text></h2>
        <p><ion-skeleton-text animated style="width: 60%"></ion-skeleton-text></p>
      </ion-label>
      <ion-label>
        <p><ion-skeleton-text animated style="width: 45%"></ion-skeleton-text></p>
        <p><ion-skeleton-text animated style="width: 60%"></ion-skeleton-text></p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
