.width100 {
    width: 100%;
}

.margin-top0 {
    margin-top: 0px;
}

.margin-top5 {
    margin-top: 5px;
}

.margin-top-5 {
    margin-top: -5px;
}

.margin-top8 {
    margin-top: 8px;
}

.margin-right5 {
    margin-right: 5px;
}

.margin-left80 {
    margin-left: 80%;
}

.padding-left20 {
    padding-left: 20%;
}

.padding-left10 {
    padding-left: 10px;
}

.padding-left12 {
    padding-left: 12px;
}

.padding-left15 {
    padding-left: 15px;
}

.padding-left30 {
    padding-left: 30px;
}

.margin-right10 {
    margin-right: 10px;
}

.margin-right-15 {
    margin-right: -15px;
}

.margin-bottom35 {
    margin-bottom: 35px;
}

.align-center {
    text-align: center;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: end;
}

.btn-width {
    width: 56px;
}

.btn-color {
    color:var(--ion-color-primary-tint);
}

.btn-color-error {
    color:var(--ion-color-danger);
}

.icon-color {
    color:var(--ion-color-medium-shade);
}

.icon-color-MH {
    color:var(--ion-color-danger-tint);
}

.icon-color-MW {
    color:var(--ion-color-danger-shade);
}

.icon-color-FH {
    color:var(--ion-color-danger-tint);
}

.icon-color-FW {
    color:var(--ion-color-danger-shade);
}

.icon-color-C {
    color:var(--ion-color-warning-tint);
}

.icon-color-A {
    color:var(--ion-color-medium-tint);
}

.icon-color-T {
    color:var(--ion-color-tertiary-shade);
}

.icon-color-O {
    color:var(--ion-color-secondary-tint);
}

.btn-header {
    padding-bottom: 10px;
}

.title-header {
    display: inline-flex;
    text-align: center;
    width: 80%;
    padding-top: 10px;
    padding-right: 0px;
}

.row-block {
    display: flex;
    flex-direction: row;
}

.icon-label {
    margin: 0;
    padding: 0 4px;
    line-height: 1em;
    flex: 1;
}

.flex-items-center {
    align-items: center;
}

.header-list {
    width: 100%;
    text-align: left;
    margin-left: 10px;
}

.max-width10 {
    max-width: 10%;
}

.min-width40 {
    min-width: 40%;
}

.min-width45 {
    min-width: 45%;
}

.min-width55 {
    min-width: 55%;
}

.min-width55 {
    min-width: 55%;
}

.min-width70 {
    min-width: 70%;
}

.min-width75 {
    min-width: 75%;
}

.min-height29 {
    min-height: 29px;
}

.text-overflow {
    text-overflow: inherit;
    overflow: inherit;
}

.position-fixed {
    position: fixed;
}

.button-circle {
    border-radius: 50%;
    display: block;
    height: 50px;
    width: 50px;
    position: fixed;
    box-sizing: content-box;
    overflow: hidden;
    bottom: 10px;
    right: 15px;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,0.2),0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12)
}

.background-gray {
    background:var(--ion-color-medium-shade);
}

.label-filter {
    text-align: center;
    width: 100%;
}

.table-row {
    display: flex;
    flex-direction: row;
}

.justify-end {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

// NOTIFICATIONS


.main-div {
    width: 100%;
    padding: 20px 0px 0px 0px;
}

.progress-bar {
    padding: 0px 16px 0px 16px;
}

.avatar-row {
    margin-top: 14px;
    margin-bottom: 2px;
}

.icon-notification {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.p-row {
    margin: 4px 8px 8px 2px;
    color: var(--ion-color-step-600,#666);
}

.p-color {
    color: var(--ion-color-step-600,#666)
}

.icon-row {
    margin: 4px 2px 8px 3px;
}

.icon-color-success {
    --ion-color-base: var(--ion-color-progressbar-success-buffer);
}

.icon-color-warning {
    --ion-color-base: var(--ion-color-progressbar-warning-buffer);
}

.icon-color-danger {
    --ion-color-base: var(--ion-color-progressbar-danger-buffer);
}

.quizz-progress-success {
    ion-progress-bar {
        --background: green;
        --buffer-background: var(--ion-color-progressbar-success-buffer);
        --progress-background: var(--ion-color-progressbar-success-progress);
    }
}

.quizz-progress-warning {
    ion-progress-bar {
        --background: orange;
        --buffer-background: var(--ion-color-progressbar-warning-buffer);
        --progress-background: var(--ion-color-progressbar-warning-progress);
    }
}

.quizz-progress-danger {
    ion-progress-bar {
        --background: red;
        --buffer-background: var(--ion-color-progressbar-danger-buffer);
        --progress-background: var(--ion-color-progressbar-danger-progress);
    }
}